<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="AddEditContactAddressController" name="addContactAddressForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Opprett kontaktadresse</h3>
                </div>

                <!-- ContactAddress input fields -->
                <div class="modal-body">

                    <!-- ContactAddress title -->
                    <div class="form-group">
                        <label for="newContactAddressName">Tittel: </label><span class="required-icon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
                        <input id="newContactAddressName" focus-me="shouldBeOpen" ng-model="newContactAddress.name" type="text" class="form-control" required/>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label for="newContactAddressDescription">Beskrivelse: </label>
                        <textarea id="newContactAddressDescription" ng-model="newContactAddress.description" class="form-control"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Create new contact address and close modal -->
                        <button ng-click="postNewContactAddress(newContactAddress)" data-dismiss="modal" type="submit" ng-disabled="addContactAddressForm.$invalid" class="btn btn-primary">Opprett</button>

                        <!-- Cancel and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>