<div ng-if="documentState == 'editDocument' || documentState == 'editProfile' || documentState == 'newProfile'">



    <div class="form-group profiles-container">
        <!-- Create new profile button -->
        <div class="form-group col-sm-2 new-profile-container profile-clickable" ng-if="documentState == 'editDocument'"
             ng-click="checkIfNewProfileFormIsDirty(document.id)">
            <div class="text-align-center">
                <i class="fa fa-2x fa-plus-circle icon-size-medium"></i>
            </div>
            <div class="text-align-center black-color">Opprett Ny profil</div>
        </div>

        <!-- Back to document button -->
        <div class="form-group col-sm-2 back-to-standard profile-clickable"
             ng-if="(documentState == 'editProfile' || documentState == 'newProfile') && document_dict[document.standardId]"
             ng-click="checkIfBackToDocumentFormIsDirty(document.standardId)">
            <div class="text-align-center">
                <i class="fa fa-2x fa-arrow-circle-left blue-color icon-size-big"></i>
            </div>
        </div>

        <!-- Lists connected profiles -->
        <div class="form-group col-sm-10 profile-list shadow-left shadow-right">
            <div class="profile-container" ng-repeat="profile in document.populatedProfiles" ng-if="profile"
                 ng-class="profile.id == document.id ? 'selected-profile' : ''"
                 ng-click="checkIfSelectProfileFormIsDirty(profile)">

                <div ng-class="document.id == profile.id ? 'selected-profile-icon' : ''"
                     data-toggle="tooltip" title="{{profile.title}}" data-placement="top" class="text-align-center red-color profile-clickable">
                    <i ng-class="profile.id == document.id ? 'selected-profile-icon' : ''" class="fa fa-2x fa-file-text"></i>
                </div>
                <div class="profile-text">
                    {{profile.title}}
                </div>
            </div>
        </div>
    </div>
</div>