<div class="container-fluid profile-bar" ng-if="documentState == 'editDocument' || documentState == 'editProfile' || documentState == 'newProfile'">

    <!-- Container for displaying profiles related to selected standard -->
    <ul class="profiles-container">

        <!--new profile-->
        <li class="new-profile-container" ng-if="documentState == 'editDocument'">
            <div class="new-profile-button" ng-click="setDocumentState('newProfile');newProfile(document.id);resetDocumentScroll()">
                <div class="new-profile-icon">
                    <span class="fa fa-plus-circle fa-2x"> </span>
                </div>
                <div class="new-profile-text">
                    Opprett ny profil
                </div>
            </div>
        </li>


        <!--return to document-->
        <li class="new-profile-container" ng-if="(documentState == 'editProfile' || documentState == 'newProfile') && document_dict[document.standardId]">
            <div ng-click="setDocumentState('editDocument'); openDocumentById(document.standardId);toggleSelectedTopic();resetDocumentScroll()">
                <div class="return-to-document-icon">
                    <span class="fa fa-arrow-circle-left"></span>
                </div>
            </div>
        </li>

        <!-- List of all profiles related to selected standard -->
        <li ng-repeat="profile in document.populatedProfiles" ng-if="profile" class="profile-container profile{{profile.id}}"
            ng-class="profile.id == document.id ? 'selected-profile' : '' || document.id == current_document.id ? 'selected-profile' : ''"
            ng-click="setDocumentState('editProfile');openDocument(profile);toggleSelectedTopic();resetDocumentScroll()">
            <div class="profile-icon profile-icon{{profile.id}}" ng-class="document.id == profile.id ? 'selected-profile-icon' : ''"
                 data-toggle="tooltip" title="{{profile.title}}" data-placement="top">
                <span class="fa fa-file-text"></span>
            </div>
            <div class="profile-text">
                {{profile.title}}
            </div>
        </li>
    </ul>

</div>