<div class="container-fluid profile-bar" ng-if="buttonState == 'editDocument' || buttonState == 'editProfile' || buttonState == 'newProfile'">

    <ul class="profiles-container">
        <!--new profile-->
        <li class="new-profile-container" ng-if="buttonState == 'editDocument'">
            <div class="new-profile-button" ng-click="setButtonState('newProfile');newProfile(document.id)">
                <div class="new-profile-icon">
                    <span class="fa fa-plus-circle fa-2x"> </span>
                </div>
                <div class="new-profile-text">
                    Opprett ny profil
                </div>
            </div>
        </li>
        <!--return to document-->
        <li class="new-profile-container" ng-if="buttonState == 'editProfile' || buttonState == 'newProfile'">
            <div ng-click="setButtonState('editDocument'); openDocumentById(document.standardId)">
                <div class="return-to-document-icon">
                    <span class="fa fa-arrow-circle-left"></span>
                </div>
            </div>
        </li>

        <li ng-repeat="profile in document.populatedProfiles" class="profile-container profile{{profile.id}}" ng-click="setButtonState('editProfile');openDocument(profile)">
            <div class="profile-icon profile-icon{{profile.id}}" data-toggle="tooltip" title="{{profile.title}}" data-placement="top">
                <span class="fa fa-file-text"></span>
            </div>
            <div class="profile-text">
                {{profile.title}}
            </div>
        </li>
    </ul>

</div>