<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="NewDocumentController" name="newStandardForm" role="form" method="post">
                <div class="modal-header">
                    <h3 class="center-align-text" id="documentTitle">Nytt dokument</h3>
                </div>
                <div class="modal-body">

                    <!-- choose document type -->
                    <div class="form-group">
                        <label for="documentType">Type dokument: </label>
                        <select name="documentType" id="documentType" ng-model="newDocument.documentTypeId" class="form-control">
                            <option value="1" ng-selected="true">Standard</option>
                            <option value="3">Støttedokument</option>
                        </select>
                    </div>

                    <!-- Choose document title -->
                    <div class="form-group">
                        <label for="standardTitle">Tittel: </label>
                        <input type="text" name="standardTitle" id="standardTitle" ng-model="newDocument.title" class="form-control" required/>
                    </div>

                    <!-- Choose document description -->
                    <div class="form-group">
                        <label for="standardDescription">Beskrivelse: </label>
                        <textarea name="standardDescription" id="standardDescription" ng-model="newDocument.description" class="form-control" rows="6" cols="50" required></textarea>
                    </div>

                    <!-- Choose which topic to create document under -->
                    <div class="form-group">
                        <label for="standardParent">Opprettes i: </label>
                        <select name="standardParent" id="standardParent" ng-model="newDocument.topicId" class="form-control">
                            <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
                        </select>
                    </div>

                    <!-- Choose document fields -->
                    <documentfields></documentfields>

                    <!-- Choose target groups -->
                    <targetgroup></targetgroup>

                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button id="createDocumentButton" ng-click="postNewDocument()" data-dismiss="modal" type="submit" ng-disabled="newStandardForm.$invalid" class="btn btn-primary">Opprett nytt dokument</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
