<!-- Content window displaying different forms etc. -->
<div ng-if="view == 'document'" ng-include="'app/components/content/editDocument/editDocument.html'" class="height-100-percent"></div>
<div ng-if="view == 'administerfields'" ng-include="'app/components/content/administerFields/administerFieldsView.html'"></div>
<div ng-if="view == 'targetgroups'" ng-include="'app/components/content/administerTargetGroups/targetGroupsView.html'"></div>
<div ng-if="view == 'editTopic'" ng-include="'app/components/content/editTopic/editTopic.html'"></div>
<div ng-if="view == 'administeractions'" ng-include="'app/components/content/administerActions/administerActionsView.html'"></div>
<div ng-if="view == 'administerstatus'" ng-include="'app/components/content/administerStatus/administerStatusView.html'"></div>
<div ng-if="view == 'administerlinkcategories'" ng-include="'app/components/content/administerLinkCategories/administerLinkCategoriesView.html'"></div>
<div ng-if="view == 'administermandatory'" ng-include="'app/components/content/administerMandatory/administerMandatoryView.html'"></div>
<div ng-if="view == 'administerheadings'" ng-include="'app/components/content/administerHeadings/administerHeadingsView.html'"></div>
<div ng-if="view == 'administercontactaddresses'" ng-include="'app/components/content/administerContactAddresses/administerContactAddressView.html'"></div>