<!-- Panel for displaying the content of standards and profiles -->
<div ng-controller="ContentController" class="col-lg-7 col-mg-7 col-sm-7 col-xs-7 content-view overflow-auto height-800">

    <!-- notification informing user -->
    <notification></notification>

    <!-- Content window displaying different forms etc. -->
    <div class="contentWindow" ng-if="view == 'document'" ng-include="'app/components/content/edit-document/edit-document.html'"></div>
    <div class="contentWindow" ng-if="view == 'administerfields'" ng-include="'app/components/content/administerFields/administer-fields-view.html'"></div>
    <div class="contentWindow" ng-if="view == 'targetgroups'" ng-include="'app/components/content/administerTargetGroups/target-groups-view.html'"></div>

    <!-- Bottom container -->
    <div>

    </div>
</div>