<!-- Panel for displaying the content of standards and profiles -->
<div ng-controller="ContentController" class="col-lg-7 col-mg-7 col-sm-7 col-xs-7 content-view height-800">
    

    <!-- Content window displaying different forms etc. -->
    <div ng-if="view == 'document'" ng-include="'app/components/content/editDocument/edit-document.html'"></div>
    <div class="content-view" ng-if="view == 'administerfields'" ng-include="'app/components/content/administerFields/administer-fields-view.html'"></div>
    <div ng-if="view == 'targetgroups'" ng-include="'app/components/content/administerTargetGroups/target-groups-view.html'"></div>
    <div ng-if="view == 'editTopic'" ng-include="'app/components/content/editTopic/edit-topic.html'"></div>
    <div ng-if="view == 'administeractions'" ng-include="'app/components/content/administerActions/administer-actions-view.html'"></div>
    <div ng-if="view == 'administerstatus'" ng-include="'app/components/content/administerStatus/administer-status-view.html'"></div>
    <div ng-if="view == 'administerlinkcategories'" ng-include="'app/components/content/administerLinkCategories/administer-link-categories-view.html'"></div>
    <div ng-if="view == 'administermandatory'" ng-include="'app/components/content/administerMandatory/administer-mandatory-view.html'"></div>

</div>