<div class="col-lg-2 col-mg-2 col-sm-2 col-xs-s2 theme-folder-browser">

    <!-- Theme folder browser -->
    <!-- Iterates through the list of themes and display them as folders -->
    <div ng-repeat="theme in themeCtrl.themes" class="theme">
        <a href=#theme{{theme.themeId}} id={{theme.themeId}} data-toggle="collapse" class="theme-text" ng-controller="DisplayController as displayCtrl" ng-click="getContent(theme)">
            <span id=folder{{theme.themeId}} class="folder glyphicon glyphicon-folder-close"> </span>
            {{theme.themeName}}
        </a>
        <div id=theme{{theme.themeId}} class="collapse">
            <div class="sub-theme" ng-repeat="subTheme in theme.subThemes" ng-controller="DisplayController as displayCtrl">
                <a href="" class="theme-text" ng-click="getContent(subTheme)">
                    <span id=folder{{subTheme.themeId}} class="glyphicon glyphicon-folder-close"> </span>
                    {{subTheme.themeName}}
                </a>
            </div>
        </div>
    </div>
</div>