<div ng-controller="AdministerActionController" class="height-100-percent">
    <div class="shadow-below">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer handlinger
                <span data-toggle="tooltip" data-placement="right"
                      title="Handlinger knyttet til målgrupper på standarder,        f.eks. sende/motta" class="fa fa-question-circle tooltip-help"></span>
            </h4>
        </div>

        <!-- Open modal for creating new action -->
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewActionModal()"
                    ng-disabled="!archivedActionsButton"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny handling
            </button>
            <button type="button" ng-class="archivedActionsButtonClass" ng-click="changeActionClass();" style="width: 100px">
                <span ng-show="archivedActionsButton"> Vis arkiverte </span>
                <span ng-show="!archivedActionsButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
            </button>
        </p>
    </div>

    <div class="table-responsive administer-views shadow-below">

        <!-- Table listing all actions in the system -->
        <table class="table table-striped" id="AdministerActionsTable">

            <!-- Table headers -->
            <thead ng-class="actionsHeadingsClass">
                <tr>
                    <th class="col-md-2">Tittel</th>
                    <th class="col-md-8">Beskrivelse</th>
                    <th class="col-md-1"><span ng-show="archivedActionsButton">Rediger</span></th>
                    <th class="col-md-1"><span ng-show="archivedActionsButton">Arkiver</span>
                                         <span ng-show="!archivedActionsButton">Gjenopprett</span></th>
                </tr>
            </thead>

            <!-- Active TG Table body -->
            <tbody ng-hide="!archivedActionsButton">
                <tr ng-repeat="action in actions" ng-hide="action.isArchived">

                    <!-- Action info -->
                    <td>{{action.name}}</td>
                    <td>{{action.description}}</td>

                    <!-- Edit action -->
                    <td><span class="fa fa-pencil-square-o fa-2x vcenter clickable" ng-click="showEditActionModal(action.id)"></span></td>

                    <!-- Archive action -->
                    <td><span class="fa fa-archive fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil slette?', action, deleteActionById)"></span></td>
                </tr>
            </tbody>

            <!-- Archived TG Table body -->
            <tbody ng-hide="archivedActionsButton">
            <tr ng-repeat="action in actions" ng-hide="!action.isArchived">

                <!-- Action info -->
                <td>{{action.name}}</td>
                <td>{{action.description}}</td>

                <!-- Edit action -->
                <td></td>

                <!-- Recover action -->
                <td><span class="fa fa-undo fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil slette?', action, recoverArchivedActions)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
