<form name="administerFieldForm" role="form" method="post">
    <div class="ten-pix-vertical-padding">

        <!-- Open modal for creating a new field -->
        <button type="button" ng-click="showNewFieldModal();setTypeId(2)" class="btn btn-default">
            <span class="fa fa-plus-circle red-color font-size-large"></span>
            Nytt felt
        </button>
    </div>

    <!-- List headings -->
    <span class="field-item field-list-title panel2">
        <span class="field-item-field">Tittel</span>
        <span class="field-item-field">Beskrivelse</span>
        <span class="field-item-field">Obligatorisk</span>
        <span class="field-item-field pull-right">Rediger felt &nbsp; Slett &nbsp;&nbsp;&nbsp;</span>
    </span>

    <!-- List of existing document fields -->
    <ul ng-model="documentFields" class="field-item list-group administer-fields-list shadow-below" style="margin-left: 5px">
        <li ng-repeat="field in documentFields | orderBy:getSequence" ng-if="field.documentTypeId == 2" class="list-group-item">

            <!-- Document field info -->
            <span class="field-item-field">{{field.name}}</span>
            <span class="field-item-field">{{field.description}}</span>
            <span class="field-item-field" ng-if="field.mandatory == 1">Ja</span>
            <span class="field-item-field" ng-if="field.mandatory == 0">Nei</span>

            <!-- Delete field -->
            <div class="pull-right">
                <span ng-click="openConfirmationModal('Er du sikker på at du vil slette feltet?', field, deleteFieldById)" id="editProfileField" class="fa fa-remove fa-fw vcenter clickable remove-user edit-field unsortable"></span>
            </div>

            <!-- Edit field -->
            <div class="pull-right">
                <span ng-click="editDocumentFieldModal(field.id);setTypeId(2)" id="deleteProfileField" class="fa fa-pencil-square-o fa-2x vcenter clickable edit-field unsortable"></span>
            </div>
        </li>
    </ul>
</form>