<form name="administerFieldForm" role="form" method="post" class="height-100-percent">
    <div class="ten-pix-vertical-padding">

        <!-- Open modal for creating a new field -->
        <button type="button" ng-click="showNewFieldModal();setTypeId(2)" class="btn btn-default" ng-disabled="!archivedProfileButton">
            <span class="fa fa-plus-circle red-color font-size-large"></span>
            Nytt felt
        </button>
        <button type="button" ng-class="archivedProfileButtonClass" ng-click="changeProfileClass();" style="width: 100px">
            <span ng-show="archivedProfileButton"> Vis arkiverte </span>
            <span ng-show="!archivedProfileButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
        </button>
    </div>

    <div class="table-responsive administer-views shadow-below">

        <!-- Table listing all field values in the system -->
        <table class="table table-striped" id="AdministerUtilityFieldsTable">

            <!-- Table headers -->
            <thead ng-class="profileHeadingsClass">
            <tr>
                <th class="col-md-8">Tittel</th>
                <th class="col-md-2 center-align-text">Obligatorisk</th>
                <th class="col-md-1" ng-show="archivedProfileButton">Rediger</th>
                <th class="col-md-1 center-align-text" ng-show="archivedProfileButton">Arkiver</th>
                <th class="col-md-2 center-align-text" ng-show="!archivedProfileButton">Gjenopprett</th>
            </tr>
            </thead>

            <!-- Active Table body -->
            <tbody ng-show="archivedProfileButton">
            <tr ng-repeat="field in documentFields" ng-if="field.documentTypeId == 2" ng-hide="field.isArchived">

                <!-- Field value info -->
                <td>{{field.name}}</td>
                <td class="center-align-text" ng-if="field.mandatory == 1">Ja</td>
                <td class="center-align-text" ng-if="field.mandatory == 0">Nei</td>

                <!-- Edit field -->
                <td class="center-align-text">
                    <span ng-click="editDocumentFieldModal(field.id);setTypeId(2)" id="editProfileField" class="fa fa-pencil-square-o fa-2x clickable edit-field"></span>
                </td>

                <!-- Archive field -->
                <td class="center-align-text">
                    <span ng-click="openConfirmationModal('Er du sikker på at du vil arkivere feltet?', field, deleteFieldById)"
                          id="deleteProfileField" class="fa fa-archive fa-fw clickable edit-field">
                    </span>
                </td>
            </tr>
            </tbody>


            <!-- Archived Table body -->
            <tbody ng-hide="archivedProfileButton">
            <tr ng-repeat="field in documentFields | orderBy:getSequence" ng-if="field.documentTypeId == 2" ng-hide="!field.isArchived">

                <!-- Field value info -->
                <td>{{field.name}}</td>
                <td class="center-align-text" ng-if="field.mandatory == 1">Ja</td>
                <td class="center-align-text" ng-if="field.mandatory == 0">Nei</td>


                <!-- Recover Field -->
                <td class="center-align-text">
                    <span ng-click="openConfirmationModal('Er du sikker på at du vil gjenopprette feltet?', field, recoverArchivedField)"
                          id="recoverArchivedProfileField" class="fa fa-undo fa-fw clickable edit-field">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>