<form name="administerFieldForm" role="form" method="post" class="height-100-percent">
    <div class="ten-pix-vertical-padding">

        <!-- Open modal for creating a new field -->
        <button type="button" ng-click="showNewFieldModal();setTypeId(3)" class="btn btn-default" ng-disabled="!archivedSupportButton">
            <span class="fa fa-plus-circle green-color font-size-large"></span>
            Nytt felt
        </button>
        <button type="button" ng-class="archivedSupportButtonClass" ng-click="changeSupportClass();" style="width: 100px">
            <span ng-show="archivedSupportButton"> Vis arkiverte </span>
            <span ng-show="!archivedSupportButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
        </button>
    </div>

    <!-- List headings -->
    <span ng-class="supportHeadingsClass">
        <span class="field-item-field">Tittel</span>
        <span class="field-item-field">Beskrivelse</span>
        <span class="field-item-field">Obligatorisk</span>
        <span class="field-item-field pull-right" ng-show="archivedSupportButton">Rediger felt &nbsp;
            <span>&nbsp;&nbsp;&nbsp;Arkiver &nbsp;&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="field-item-field pull-right" ng-show="!archivedSupportButton">
            <span>Gjenopprett</span>
        </span>
    </span>

    <!-- List of existing document fields -->
    <ul ng-model="documentFields" class="field-item list-group administer-fields-list shadow-below" style="margin-left: 5px; height: calc(100% - 106px);" ng-hide="!archivedSupportButton">
        <li ng-repeat="field in documentFields | orderBy:getSequence" ng-if="field.documentTypeId == 3" ng-hide="field.isArchived" class="list-group-item ">

            <!-- Document field info -->
            <span class="field-item-field">{{field.name}}</span>
            <span class="field-item-field">{{field.description}}</span>
            <span class="field-item-field" ng-if="field.mandatory == 1">Ja</span>
            <span class="field-item-field" ng-if="field.mandatory == 0">Nei</span>

            <!-- Delete field -->
            <div class="pull-right" style="margin-right: 12px;">
                <span ng-click="openConfirmationModal('Er du sikker på at du vil slette feltet?', field, deleteFieldById)" id="deleteSupportField" class="fa fa-archive fa-fw vcenter clickable edit-field"></span>
            </div>

            <!-- Edit field -->
            <div class="pull-right" style="margin-right: 28px;">
                <span ng-click="editDocumentFieldModal(field.id);setTypeId(3)"  id="editSupportField" class="fa fa-pencil-square-o fa-2x vcenter clickable edit-field"></span>
            </div>
        </li>
    </ul>

    <!-- List of archived document fields -->
    <ul ng-model="documentFields" class="field-item list-group administer-fields-list shadow-below" style="margin-left: 5px; height: calc(100% - 106px);" ng-hide="archivedSupportButton">
        <li ng-repeat="field in documentFields | orderBy:getSequence" ng-if="field.documentTypeId == 3" ng-hide="!field.isArchived" class="list-group-item">

            <!-- Document field info -->
            <span class="field-item-field">{{field.name}}</span>
            <span class="field-item-field">{{field.description}}</span>
            <span class="field-item-field" ng-if="field.mandatory == 1">Ja</span>
            <span class="field-item-field" ng-if="field.mandatory == 0">Nei</span>

            <!-- Recover field -->
            <div class="pull-right" style="margin-right: 12px;">
                <span ng-click="openConfirmationModal('Er du sikker på at du vil gjenopprette feltet?', field, recoverArchivedField)" id="recoverArchivedSupportField" class="fa fa-undo fa-fw vcenter clickable edit-field"></span>
            </div>

            <!-- Edit field -->
            <!--<div class="pull-right" style="margin-right: 28px;">
                <span ng-click="editDocumentFieldModal(field.id);setTypeId(1)" id="editArchivedStandardField" class="fa fa-pencil-square-o fa-2x vcenter clickable edit-field"></span>
            </div>-->
        </li>
    </ul>
</form>