<section ng-controller="AdministerFieldsController" class="height-100-percent">
    <div class="height-100-percent">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer felter:</h4>
        </div>

        <!-- Navigation tabs for altering between document types -->
        <ul class="nav nav-tabs">
            <li class="active clickable"><a data-toggle="tab" data-target="#standardFieldsTab"
                                            ng-click="archivedStandardButton = true;
                                            standardHeadingsClass = 'white-color blue-background';
                                            archivedStandardButtonClass = 'btn btn-default pull-right';">Standarder</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#profileFieldsTab"
                                     ng-click="archivedProfileButton = true;
                                     profileHeadingsClass = 'white-color red-background';
                                     archivedProfileButtonClass = 'btn btn-default pull-right';">Profiler</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#supportFieldsTab"
                                     ng-click="archivedSupportButton = true;
                                     supportHeadingsClass = 'white-color green-background';
                                     archivedSupportButtonClass = 'btn btn-default pull-right';">Støttedokumenter</a></li>
        </ul>
        <div class="tab-content" style="height: calc(100% - 106px);">

            <!-- Standard fields -->
            <div id="standardFieldsTab" class="tab-pane fade in active administer-fields height-100-percent">
                <standardfields></standardfields>
            </div>

            <!-- Profile fields -->
            <div id="profileFieldsTab" class="tab-pane fade administer-fields height-100-percent" >
                <profilefields></profilefields>
            </div>

            <!-- Utility document fields -->
            <div id="supportFieldsTab" class="tab-pane fade administer-fields height-100-percent">
                <supportdocumentfields></supportdocumentfields>
            </div>

        </div>
    </div>
</section>