<section ng-controller="AdministerFieldsController" style="height: 100%;">
    <div style="height: 100%">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer felter:</h4>
        </div>

        <!-- Navigation tabs for altering between document types -->
        <ul class="nav nav-tabs">
            <li class="active clickable"><a data-toggle="tab" data-target="#standardFieldsTab"
                                            ng-click="archivedStandardButton = true;
                                            standardHeadingsClass = 'field-item field-list-title panel1';
                                            archivedStandardButtonClass = 'btn btn-default pull-right';">Standarder</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#profileFieldsTab"
                                     ng-click="archivedProfileButton = true;
                                     profileHeadingsClass = 'field-item field-list-title panel2';
                                     archivedProfileButtonClass = 'btn btn-default pull-right';">Profiler</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#supportFieldsTab"
                                     ng-click="archivedSupportButton = true;
                                     supportHeadingsClass = 'field-item field-list-title panel3';
                                     archivedSupportButtonClass = 'btn btn-default pull-right';">Støttedokumenter</a></li>
        </ul>
        <div class="tab-content" style="height: calc(100% - 106px);">

            <!-- Standard fields -->
            <div id="standardFieldsTab" class="tab-pane fade in active administer-fields" style="height: 100%">
                <standardfields></standardfields>
            </div>

            <!-- Profile fields -->
            <div id="profileFieldsTab" class="tab-pane fade administer-fields">
                <profilefields></profilefields>
            </div>

            <!-- Utility document fields -->
            <div id="supportFieldsTab" class="tab-pane fade administer-fields">
                <supportdocumentfields></supportdocumentfields>
            </div>

        </div>
    </div>
</section>