<section ng-controller="AdministerFieldsController" class="col-lg-7 col-mg-7 col-sm-7 col-xs-7 content-view">
    <div class="height-100-percent editor-header twelve-pix-vertical-padding">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer felter </h4>
            <span data-toggle="tooltip" data-placement="right"
                  title="Felter som ikke er standard for alle dokumenter defineres her." class="fa fa-question-circle tooltip-help">
                </span>
        </div>

        <!-- Navigation tabs for altering between document types -->
        <ul class="nav nav-tabs">
            <li class="active clickable"><a data-toggle="tab" data-target="#standardFieldsTab"
                                            ng-click="archivedStandardButton = true;
                                            standardHeadingsClass = 'white-color blue-background';
                                            archivedStandardButtonClass = 'btn btn-default pull-right';">Standarder</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#profileFieldsTab"
                                     ng-click="archivedProfileButton = true;
                                     profileHeadingsClass = 'white-color red-background';
                                     archivedProfileButtonClass = 'btn btn-default pull-right';">Profiler</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#supportFieldsTab"
                                     ng-click="archivedSupportButton = true;
                                     supportHeadingsClass = 'white-color green-background';
                                     archivedSupportButtonClass = 'btn btn-default pull-right';">Støttedokumenter</a></li>
        </ul>
        <div class="tab-content" style="height: calc(100% - 106px);">

            <!-- Standard fields -->
            <div id="standardFieldsTab" class="tab-pane fade in active administer-fields height-100-percent">
                <standardfields ng-style="{'font-size': text.size + 'px'}"></standardfields>
            </div>

            <!-- Profile fields -->
            <div id="profileFieldsTab" class="tab-pane fade administer-fields height-100-percent" >
                <profilefields ng-style="{'font-size': text.size + 'px'}"></profilefields>
            </div>

            <!-- Utility document fields -->
            <div id="supportFieldsTab" class="tab-pane fade administer-fields height-100-percent">
                <supportdocumentfields ng-style="{'font-size': text.size + 'px'}"></supportdocumentfields>
            </div>

        </div>
    </div>
</section>