<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="AddEditStatusController" name="editStatusForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Endre status</h3>
                </div>

                <!-- Status input fields -->
                <div class="modal-body">

                    <!-- Status title -->
                    <div class="form-group">
                        <label for="editStatusName">Tittel: </label>
                        <input id="editStatusName" focus-me="shouldBeOpen" ng-model="currentStatus.name" type="text" class="form-control" required/>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label for="editStatusDescription">Beskrivelse: </label>
                        <textarea id="editStatusDescription" ng-model="currentStatus.description" class="form-control"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Save changes and close modal -->
                        <button ng-click="submitStatusChange(currentStatus)" data-dismiss="modal" type="submit" ng-disabled="editStatusForm.$invalid" class="btn btn-primary">Lagre</button>

                        <!-- Cancel changes and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>