<div class="panel panel-border{{document.documentTypeId}}">

    <!-- Title -->
    <div class="panel-heading panel{{document.documentTypeId}}">
        <h3 class="panel-title selected-heading"><span class="fa fa-share-alt"></span> Lenker</h3>
    </div>

    <div class="panel-body">
        <div class="form-group document-links-container">

            <!-- Display the document's link categories -->
            <div ng-repeat="linkCategory in linkCategories" class="link-category-group">
                <div class="panel panel-default link-group-panel">
                    <!-- Link category name -->
                    <div class="panel-heading">
                        <h3 ng-style="{'font-size': text.size + 'px'}" class="panel-title">{{linkCategoriesDict[linkCategory.id].name}}
                            <span class="fa fa-remove delete-topic-icon clickable" ng-click="openConfirmationModal('Er du sikker på at du vil slette lenke-kategorien fra dokumentet?', linkCategory.id, removeLinkCategory); EditDocumentController.DocumentForm.$setDirty()"></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="navbar-nav document-links-ul ten-pix-bottom-padding" ng-repeat="link in linkCategory.links">
                            <li class="document-links-link center-align-delete-button">
                                <label ng-style="{'font-size': text.size + 'px'}" class=" control-label center-align-text" for="linkSequence">Nr.</label>
                            </li>
                            <li class="document-links-link">
                                <input ng-style="{'font-size': text.size + 'px', 'height': text.size*2.1 + 'px'}"
                                       class="form-control document-fields-field-sequence" id="linkSequence" ng-model="link.sequence"
                                       placeholder="1" name="linkSequence" type="text" numbers-only maxlength="15">
                            </li>
                            <li class="document-links-link">
                                <input ng-style="{'font-size': text.size + 'px', 'height': text.size*2.1 + 'px'}"
                                       class="form-control" id="linkText" name="linkText" type="text" placeholder="Navn" ng-model="link.text"
                                       data-toggle="tooltip" data-original-title="{{link.text}}" data-placement="top" required>
                            </li>
                            <li class="document-links-link">
                                <input ng-style="{'font-size': text.size + 'px', 'height': text.size*2.1 + 'px'}"
                                       class="form-control center-align-text" id="linkUrl" name="linkUrl" type="text" placeholder="URL" ng-model="link.url"
                                       data-toggle="tooltip" data-original-title="{{link.url}}" data-placement="top" required>
                            </li>
                            <li class="document-links-link center-align-text">
                                <span ng-style="{'font-size': text.size + 'px'}" class="fa fa-remove delete-topic-icon clickable form-group center-align-text"
                                      ng-click="openConfirmationModal('Er du sikker på at du vil slette lenken fra dokumentet?',
                                                               link, removeLink); EditDocumentController.DocumentForm.$setDirty()">
                                </span>
                            </li>
                        </ul>
                    </div>


                </div>

                <!-- Add link to document -->
                <div class="ten-pix-vertical-padding">
                    <button type="button" class="btn btn-default" ng-click="addLinkToDocument(linkCategory.id);">
                        <span class="fa fa-plus-circle plus-icon"></span>
                        Legg til lenke
                    </button>
                </div>
            </div>

            <!-- Open modal for adding link categories to document -->
            <button type="button" class="btn btn-default"
                    ng-click="openModal('app/components/content/editDocument/links/addDocumentLinkCategoriesModal.html', 'AddDocumentLinkCategoriesController')">
                <span class="fa fa-plus-circle plus-icon"></span>
                Legg til lenke-kategori
            </button>
        </div>
    </div>
</div>





