<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="UploadFileController" name="uploadFileForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Last opp data fra fil</h3>
                </div>

                <!-- Document field input values -->
                <div class="modal-body">

                    <!-- File upload input -->
                    <label class="btn btn-default btn-file">
                        <i class="fa fa-upload" aria-hidden="true"></i> Last opp fil <input type="file" style="display: none" on-read-file="readFileContent($fileContent)">
                    </label>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Create new document field and close modal -->
                        <button id="uploadFileButton" ng-click="clearEverything();initEverything()" data-dismiss="modal"  type="submit" ng-disabled="uploadFileForm.$invalid" class="btn btn-primary">Importer</button>

                        <!-- Cancel and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
