<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="UploadFileController" name="uploadFileForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Last opp data fra fil</h3>
                </div>

                <!-- Document field input values -->
                <div class="modal-body">

                    <!-- Title -->
                    <!--<div class="form-group">
                        <label for="fieldTitle">Tittel: </label>
                        <input focus-me="shouldBeOpen" type="text" name="fieldTitle" id="fieldTitle" ng-model="newDocumentField.name" class="form-control" required/>
                    </div>-->

                    <div class="form-group">
                        <input type="file" id="input-file" class="form-control" required>
                    </div>
                    <div class="form-group">

                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Create new document field and close modal -->
                        <button id="uploadFileButton" ng-click="uploadFile()" data-dismiss="modal"  type="submit" ng-disabled="uploadFileForm.$invalid" class="btn btn-primary">Importer</button>

                        <!-- Cancel and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
