<section ng-controller="AdministerFieldController" class="administer-fields">
    <div>
        <div class="shadow-below">
            <div class="headline-box">
                <h4>Administrer dokumentfelter</h4>
            </div>
            <p class="tenPixVerticalPadding">
                <input type="button" value="Lagre" ng-click="updateStandardFields()"/>
            </p>
        </div>
        <form name="administerFieldForm" role="form" ng-submit="" method="post">
            <span class="field-item field-list-title">
                <label for="fieldTitle" class="field-item-field">Tittel</label>
                <label for="fieldDescription" class="field-item-field">Beskrivelse</label>
                <label for="fieldMandatory" class="field-item-field">Obligatorisk</label>
            </span>
            <ul ui-sortable="sortableOptions" ng-model="documentFields">
                <li ng-repeat="field in documentFields" class="field-item document-fields">
                    <input type="hidden" ng-model="field.sequence"/>
                    <input id="fieldTitle" type="text" ng-model="field.title" class="form-control"/>
                    <input id="fieldDescription" type="text" ng-model="field.description" class="form-control"/>
                    <div class="field-mandatory">
                        <input id="fieldMandatory" type="checkbox" ng-model="field.mandatory"/>
                    </div>
                    <div class="pull-right">
                        <span class="fa fa-remove fa-fw vcenter clickable removeUser"></span>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</section>