<section ng-controller="AdministerFieldsController">
    <div>
        <div class="headline-box">
            <h4 class="selected">Administrer felter:</h4>
        </div>
        <ul class="nav nav-tabs">
            <li class="active clickable"><a data-toggle="tab" data-target="#standardFieldsTab">Standarder</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#profileFieldsTab">Profiler</a></li>
            <li class="clickable"><a data-toggle="tab" data-target="#supportFieldsTab">Støttedokumenter</a></li>
        </ul>

        <div class="tab-content">
            <div id="standardFieldsTab" class="tab-pane fade in active administer-fields">
                <form name="administerFieldForm" role="form" ng-submit="" method="post">
                    <span class="field-item field-list-title">
                        <span class="field-item-field">Tittel</span>
                        <span class="field-item-field">Beskrivelse</span>
                        <span class="field-item-field">Obligatorisk</span>
                        <label for="editField" class="field-item-field pull-right">Rediger felt</label>
                    </span>
                    <ul ui-sortable="sortableOptions" ng-model="documentFields">
                        <li ng-repeat="field in documentFields" class="field-item document-fields draggable">
                            <span class="field-item-field">{{field.name}}</span>
                            <span class="field-item-field">{{field.description}}</span>
                            <span class="field-item-field" ng-if="field.mandatory == '1'">Ja</span>
                            <span class="field-item-field" ng-if="field.mandatory == '0'">Nei</span>
                            <div class="pull-right">
                                <span ng-click="editDocumentFieldModal(field.id)" id="editField" class="fa fa-pencil-square-o fa-2x vcenter clickable edit-field unsortable"></span>
                            </div>
                            <input type="hidden" ng-model="field.sequence"/>
                        </li>
                    </ul>
                    <div id="addField" class="row clickable" ng-click="openModal('app/components/content/views/new-document-field-modal.html', 'DocumentFieldModalController')">
                        <span id="addNewField" class="fa fa-pencil-square-o fa-2x vcenter"></span>
                        <span class="col-lg-8 vcenter">Opprett nytt felt</span>
                    </div>
                </form>
            </div>
            <div id="profileFieldsTab" class="tab-pane fade">

            </div>
            <div id="supportFieldsTab" class="tab-pane fade">

            </div>
        </div>
    </div>
</section>