<!-- Panel for displaying the content of standards and profiles -->
<div ng-controller="ContentController" class="col-lg-8 col-mg-8 col-sm-8 col-xs-8">

    <!-- Content window displaying different forms etc. -->
    <div ng-if="view == 'newtopic'" ng-include="'app/components/content/views/new-topic-view.html'"></div>
    <div ng-if="view == 'newstandard'" ng-include="'app/components/content/views/new-standard-view.html'"></div>
    <div ng-if="view == 'administerfields'" ng-include="'app/components/content/views/administer-field-view.html'"></div>

    <!-- Bottom container -->
    <div>

    </div>
</div>