<div ng-controller="DocumentContentController">
    <div class="headline-box">
        <h4 class="selected">{{document.title}}</h4>
    </div>
    <ul class="nav nav-tabs">
        <li class="active clickable"><a data-toggle="tab" data-target="#documentTab">Standard</a></li>
        <li class="clickable"><a data-toggle="tab" data-target="#documentVersionTab">Standard-versjon</a></li>
    </ul>

    <div class="tab-content">
        <div id="documentTab" class="tab-pane fade in active document-version">
            <form name="documentForm" role="form" ng-submit="" method="post" class="document-content">
                <div class="form-group">
                    <label for="documentTitle">Tittel: </label>
                    <input type="text" name="documentTitle" id="documentTitle" ng-model="document.title" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="documentDescription">Beskrivelse: </label>
                    <textarea name="documentDescription" id="documentDescription" ng-model="document.description" class="form-control" rows="10" cols="50" required>Default value</textarea>
                </div>
                <div class="form-group">
                    <label for="documentParent">Plassering: </label>
                    <select name="documentParent" id="documentParent" ng-model="document.topicId" class="form-control">
                        <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
                    </select>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="true" class="btn btn-primary">Lagre endringer</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="cancelContentBrowser()">Lukk dokument</button>
                </div>
            </form>
        </div>
        <div id="documentVersionTab" class="tab-pane fade document-version">
            <form name="documentVersionForm" role="form" ng-submit="" method="post" class="version-content">
                <div class="form-group">
                    <label for="documentVersion">Versjon: </label>
                    <select class="form-control" name="documentVersion" id="documentVersion" ng-model="documentVersion.id" ng-change="update()">
                        <option ng-repeat="version in documentVersions" value={{version.id}}>{{version.id}}</option>
                    </select>
                </div>
                <div></div>
            </form>
        </div>
    </div>
</div>

<!--
{
  "id": 0,
  "standardId": 0,
  "targetGroups": [
    {
      "id": 0,
      "deadline": "string",
      "mandatory": "string",
      "description": "string",
      "targetGroup": {
        "id": 0,
        "name": "string",
        "description": 0
      },
      "action": "string"
    }
  ],
  "links": [
    {
      "linkCategory": {
        "id": 0,
        "name": "string",
        "description": "string"
      },
      "links": [
        {
          "id": 0,
          "text": "string",
          "description": "string",
          "url": "string"
        }
      ]
    }
  ],
  "fields": [
    {
      "value": {
        "string": "string",
        "date": "2016-03-13",
        "integer": 0
      },
      "Field": {
        "id": 0,
        "title": "string",
        "description": "string",
        "sequence": 0,
        "fieldType": {
          "id": 0,
          "title": "string"
        },
        "mandatory": true
      }
    }
  ]
}
-->