<form ng-controller="NewTopicController" name="newTopicForm" role="form" ng-submit="postNewTopic(newTopic)" class="new-topic well" method="post">
    <h3 class="center-align-text">Nytt tema</h3>
    <div class="form-group">
        <label for="topicTitle">Tittel: </label>
        <input type="text" name="topicTitle" id="topicTitle" class="form-control" ng-model="newTopic.title" required />
    </div>
    <div class="form-group">
        <label for="topicDescription">Beskrivelse: </label>
        <textarea name="topicDescription" id="topicDescription" class="form-control" ng-model="newTopic.description" rows="6" cols="50" required></textarea>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label for="topicIsInCatalog"><input type="checkbox" name="topicIsInCatalog" id="topicIsInCatalog" ng-model="newTopic.isInCatalog">Er i referansekatalogen</label>
        </div>
    </div>
    <div class="form-group" >
        <label for="topicParent">Foreldermappe: </label>
        <select name="topicParent" id="topicParent" class="form-control" ng-model="newTopic.parent" required>
            <option ng-value="null" ng-selected="true">Ingen</option>
            <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
        </select>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Opprett nytt tema</button>
        <button type="button" ng-click="cancelContentBrowser()" ng-disabled="form.$invalid" class="btn btn-danger pull-right">Avbryt</button>
    </div>
</form>