<div ng-controller="TargetGroupsController" class="target-group-grid" class="height-100-percent">
    <div class="shadow-below">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer målgrupper</h4>
        </div>

        <p class="twelve-pix-vertical-padding">

            <!-- Open modal for creating new target group -->
            <button type="button" class="btn btn-default"
                    ng-disabled="!archivedTargetGroupsButton"
                    ng-click="showNewTGModal()"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny målgruppe
            </button>


            <!-- Archive target groups button -->
            <button type="button" ng-class="archivedTargetGroupsButtonClass" ng-click="changeTGClass();" style="width: 100px; margin-left: 20px;">
                <span ng-show="archivedTargetGroupsButton"> Vis arkiverte </span>
                <span ng-show="!archivedTargetGroupsButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
            </button>
            <!-- Search bar for filtering target groups -->
            <label class="pull-right"><input class="form-control" ng-model="searchText" placeholder="Søk..."></label>
        </p>
    </div>

    <!-- Table for displaying all target groups in the system -->
    <div class="table-responsive administer-views">

        <table class="table table-hover" id="targetGroupsTable" ng-init="sortType = 'name'; sortReverse = sortReverse">

            <!-- Table headers with code allowing sorting -->
            <thead ng-class="targetGroupsHeadingsClass">
                <tr>
                    <th class="col-md-2" ng-click="sortType = 'name'; sortReverse = !sortReverse"><a class="sortable-columns">Navn &#13;&#10;</a>
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down pointer"></span>
                        <span ng-show="sortType == 'name' &&  sortReverse" class="fa fa-caret-up pointer"></span></th>
                    <th class="col-md-4" ng-click="sortType = 'description'; sortReverse = !sortReverse"><a class="sortable-columns">Beskrivelse &#13;&#10;</a>
                        <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down pointer"></span>
                        <span ng-show="sortType == 'description' &&  sortReverse" class="fa fa-caret-up pointer"></span></th>
                    <th class="col-md-2" ng-click="sortType = 'abbreviation'; sortReverse = !sortReverse"><a class="sortable-columns">Forkortelse &#13;&#10;</a>
                        <span ng-show="sortType == 'abbreviation' && !sortReverse" class="fa fa-caret-down pointer"></span>
                        <span ng-show="sortType == 'abbreviation' &&  sortReverse" class="fa fa-caret-up pointer"></span></th>
                    <th class="col-md-2" style="min-width: 200px;" ng-click="sortType = 'parentId'; sortReverse = !sortReverse"><a class="sortable-columns">Overordnet målgruppe</a>
                        <span ng-show="sortType == 'parentId' && !sortReverse" class="fa fa-caret-down pointer"></span>
                        <span ng-show="sortType == 'parentId' &&  sortReverse" class="fa fa-caret-up pointer"></span></th>
                    <th class="col-md-1">
                        <span ng-show="archivedTargetGroupsButton">Rediger</span></th>
                    <th class="col-md-1"><span ng-show="archivedTargetGroupsButton">Arkiver</span><span ng-show="!archivedTargetGroupsButton">Gjenopprett</span></th>
                </tr>
            </thead>

            <!-- Table body active target groups -->
            <tbody class="tg-tbody" ng-hide="!archivedTargetGroupsButton">

                <!-- List of existing target groups in the system -->
                <tr ng-repeat="group in targetGroups | orderBy:sortType:sortReverse | filter: searchText" ng-hide="group.isArchived">

                    <!-- Target group info -->
                    <td class="col-md-2">{{group.name}}</td>
                    <td class="col-md-4">{{group.description}}</td>
                    <td class="col-md-2">{{group.abbreviation}}</td>
                    <td class="col-md-2">{{TGDictionary[group.parentId].name}}</td>

                    <!-- Edit target group -->
                    <td class="col-md-1" style="margin-right: 12px;"><span ng-click="showEditTGModal(group)" data-keyboard="true" class="fa fa-pencil-square-o fa-2x clickable"></span></td>

                    <!-- Delete target group -->
                    <td class="col-md-1"><span ng-click="openConfirmationTGModal('Er du sikker på at du vil slette målgruppe?', group, deleteById)" class="fa fa-archive fa-2x clickable"></span></td>
                </tr>
            </tbody>

            <!-- Table body archived target groups -->
            <tbody class="" ng-hide="archivedTargetGroupsButton">
            <!-- List of existing target groups in the system -->
            <tr ng-repeat="group in targetGroups | orderBy:sortType:sortReverse | filter: searchText" ng-hide="!group.isArchived">

                <!-- Target group info -->
                <td class="col-md-2">{{group.name}}</td>
                <td class="col-md-4">{{group.description}}</td>
                <td class="col-md-2">{{group.abbreviation}}</td>
                <td class="col-md-2">{{TGDictionary[group.parentId].name}}</td>

                <!-- Empty table data -->
                <td class="col-md-1"></td>
                <!-- Recover target group -->
                <td class="col-md-1"><span ng-click="openConfirmationModal('Er du sikker på at du vil slette målgruppe?', group, recoverArchivedTargetGroup)" class="fa fa-undo fa-2x clickable"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


