<div ng-controller="TargetGroupsController" class="target-group-grid">
    <div class="shadow-below">
        <div class="headline-box">
            <h4 class="selected">Administrer målgrupper</h4>
        </div>
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewTGModal()"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny målgruppe
            </button>
        </p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="targetGroupsTable">
            <thead class="tg-thead">
                <tr>
                    <th class="col-md-3">Navn</th>
                    <th class="col-md-4">Beskrivelse</th>
                    <th class="col-md-1">Forkortelse</th>
                    <th class="col-md-2">Overordnet målgruppe</th>
                    <th class="col-md-1">Rediger</th>
                    <th class="col-md-1">Slett</th>
                </tr>
            </thead>
            <tbody class="tg-tbody">
                <tr ng-repeat="group in targetGroups | orderBy:'name'">
                    <td class="tg">{{group.name}}</td>
                    <td class="tg">{{group.description}}</td>
                    <td class="tg">{{group.abbreviation}}</td>
                    <td class="tg">{{TGDictionary[group.parentId].name}}</td>
                    <td class="tg"><span ng-click="showEditTGModal(group)" data-keyboard="true" class="fa fa-pencil-square-o fa-2x clickable"></span></td>
                    <td class="tg"><span ng-click="openConfirmationTGModal('Er du sikker på at du vil slette målgruppe?',group.id)" class="fa fa-remove clickable remove-user"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


