<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="DeleteUserController" name="deleteUserForm" role="form" method="post">
                <div class="modal-header">
                    <h3 class="center-align-text" id="documentTitle">Slett bruker</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Bekreft navnet til brukeren du vil <b>slette for alltid</b>: "{{userToDelete.name}}"</p>
                    </div>
                    <div class="form-group">
                        <label for="deleteUserName">Navn:</label>
                        <input type="text" pattern="{{userToDelete.name}}" name="deleteUserName" id="deleteUserName" ng-model="userInput.name" class="form-control" required autofocus />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button ng-click="deleteSpecificUser()" data-dismiss="modal" type="submit" ng-disabled="deleteUserForm.$invalid" class="btn btn-primary">Slett bruker</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>