<div class="container-fluid" ng-controller="MainController">

    <!-- Header -->
    <div class="mainLogo tenPixVerticalPadding">
        <object data="assets/img/ehelseLogo.svg" type="image/svg+xml" >
            <img src="assets/img/ehelseLogo.png" alt="ehelse logo"/>
        </object>
    </div>



    <!-- Toolbar -->
    <toolbar></toolbar>

    <!-- Editor display -->
    <div ng-if="userPageView == ''" ng-include="'app/components/editor/editor-view.html'"></div>

    <!-- Personal page -->
    <div ng-if="userPageView == 'myPage'" ng-include="'app/components/myPage/myPage-view.html'"></div>

    <!-- Administer users page -->
    <div ng-if="userPageView == 'administerUsers'"
         ng-include="'app/components/administerUsers/administerUsers-view.html'"></div>

</div>