<div class="container-fluid" ng-controller="MainController" style="height: 100%">

    <!-- notification informing user -->
    <notification></notification>

    <div class="row relative">

        <!-- Display of logo -->
        <div class="main-logo">
            <object data="assets/img/ehelseLogo.svg" type="image/svg+xml">
                <img src="assets/img/ehelseLogo.png" alt="ehelse logo"/>
            </object>
        </div>

        <!-- Main toolbar -->
        <toolbar  class="toolbar"></toolbar>
    </div>


    <!-- Secondary view user for the actual editor etc. -->
    <div ui-view style="height: 93%"></div>



</div>