<div class="container-fluid" ng-controller="MainController">

    <!-- notification informing user -->
    <notification></notification>

    <div class="row relative">
        <div class="main-logo">
            <object data="assets/img/ehelseLogo.svg" type="image/svg+xml">
                <img src="assets/img/ehelseLogo.png" alt="ehelse logo"/>
            </object>
        </div>

        <toolbar  class="toolbar"></toolbar>
    </div>


    <!-- Secondary View -->
    <div ui-view></div>



</div>