<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="login-page">
    <h3>Ehelse Standardportal</h3>
    <form name="login" ng-submit="submit()" role="form">
        <div class="form-group input-group">
            <span class="input-group-addon" id="user"><i class="fa fa-user fa-lg fa-fw"></i></span>
            <input type="text" name="username" id="username" aria-describedby="user" class="form-control" ng-model="username" placeholder="Brukernavn" required />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon" id="pw"><i class="fa fa-unlock fa-lg fa-fw"></i></span>
            <input type="password" name="password" id="password" aria-describedby="pw" class="form-control" ng-model="password" placeholder="Passord" required />
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="login.$invalid" class="btn btn-primary btn-group-justified">Logg inn</button>
        </div>
        <div class="has-error">
            <span ng-show="login.$error" class="help-block">{{feedback}}</span>
        </div>
    </form>
</div>