<!-- notification informing user -->
<notification></notification>

<div class="logged-out-page">

    <!-- Title -->
    <h1 class="text-align-center">MIME</h1>

    <!-- Login input fields -->
    <form name="login" role="form" class="text-align-center">

        <!-- File upload input -->
        <label class="btn btn-default btn-file" ng-click="uploadJsonButton()">
            <i class="fa fa-upload" aria-hidden="true"></i> Last opp JSON
        </label>
        <label class="btn btn-default btn-file" ng-click="uploadCsvButton()">
            <i class="fa fa-upload" aria-hidden="true"></i> Last opp CSV
        </label>

        <!-- Feedback -->
        <div class="has-error">
            <span ng-show="login.$error" class="help-block">{{feedback}}</span>
        </div>

        <div class="text-center">
            <button type="button"
                    class="btn btn-primary font-size-large"
                    ng-click="goToSite()">
                Gå til hovedsiden
            </button>
        </div>
    </form>
</div>