<div class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Slette målgrupper</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group" ng-repeat="group in targetGroups">
                        <input type="checkbox" checklist-model="selectedTG.groups" checklist-value="group.id"> {{group.name}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('delete')" class="btn btn-primary" data-dismiss="modal">Slett valgte</button>
                <button type="button" ng-click="close('cancel')" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>