<div ng-controller="AdministerStatusController">
    <div class="shadow-below">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer statuser</h4>
        </div>

        <!-- Add new status -->
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewStatusModal()"
                    ng-disabled="!archivedStatusButton"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny status
            </button>
            <button type="button" ng-class="archivedStatusButtonClass" ng-click="changeStatusClass();" style="width: 100px">
                <span ng-show="archivedStatusButton"> Vis arkiverte </span>
                <span ng-show="!archivedStatusButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
            </button>
        </p>
    </div>

    <div class="table-responsive administer-views shadow-below">

        <!-- Table listing all statuses in the system -->
        <table class="table table-striped" id="AdministerStatusesTable">

            <!-- Table headers -->
            <thead ng-class="statusHeadingClass">
                <tr>
                    <th class="col-md-2">Tittel</th>
                    <th class="col-md-8">Beskrivelse</th>
                    <th class="col-md-1"><span ng-show="archivedStatusButton">Rediger</span></th>
                    <th class="col-md-1"><span ng-show="archivedStatusButton">Arkiver</span>
                                         <span ng-show="!archivedStatusButton">Gjenopprett</span></th>
                </tr>
            </thead>

            <!-- Active Status Table body -->
            <tbody ng-show="archivedStatusButton">
                <tr ng-repeat="status in statuses" ng-hide="status.isArchived">

                    <!-- Status info -->
                    <td>{{status.name}}</td>
                    <td>{{status.description}}</td>

                    <!-- Edit status -->
                    <td><span class="fa fa-pencil-square-o fa-2x vcenter clickable" ng-click="showEditStatusModal(status.id)"></span></td>

                    <!-- Archive status -->
                    <td><span class="fa fa-archive fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil arkivere?', status, deleteStatus)"></span></td>
                </tr>
            </tbody>

            <!-- Archived Status Table body -->
            <tbody ng-show="!archivedStatusButton">
            <tr ng-repeat="status in statuses" ng-hide="!status.isArchived">

                <!-- Status info -->
                <td>{{status.name}}</td>
                <td>{{status.description}}</td>

                <!-- Edit status -->
                <td></td>

                <!-- Recover status -->
                <td><span class="fa fa-undo fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil gjenopprette?', status, recoverArchivedStatus)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
