<div ng-controller="AdministerStatusController">
    <div class="shadow-below">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer statuser</h4>
        </div>

        <!-- Add new status -->
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewStatusModal()"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny status
            </button>
        </p>
    </div>

    <div class="table-responsive administer-views shadow-below">

        <!-- Table listing all statuses in the system -->
        <table class="table table-striped" id="AdministerStatusesTable">

            <!-- Table headers -->
            <thead class="white-color blue-background">
                <tr>
                    <th>Tittel</th>
                    <th>Beskrivelse</th>
                    <th>Rediger</th>
                    <th>Slett</th>
                </tr>
            </thead>

            <!-- Table body -->
            <tbody>
                <tr ng-repeat="status in statuses" ng-hide="status.isArchived">

                    <!-- Status info -->
                    <td>{{status.name}}</td>
                    <td>{{status.description}}</td>

                    <!-- Edit status -->
                    <td><span class="fa fa-pencil-square-o fa-2x vcenter clickable" ng-click="showEditStatusModal(status.id)"></span></td>

                    <!-- Delete status -->
                    <td><span class="fa fa-remove fa-fw vcenter clickable remove-user" ng-click="openConfirmationModal('Er du sikker på at du vil slette?', status, deleteStatus)"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
