<div class="panel panel-border{{document.documentTypeId}}">

    <!-- Title -->
    <div class="panel-heading panel{{document.documentTypeId}}">
        <h3 class="panel-title selected-heading"><span class="fa fa-paragraph"></span> Tilleggsopplysninger</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">

            <div ng-repeat="heading in headings" class="link-category-group">
                <div class="panel panel-default link-group-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{headings_dict[heading.id].name}}
                            <span class="fa fa-remove delete-topic-icon clickable pull-right" ng-click="openConfirmationModal('Er du sikker på at du vil slette avsnittet fra dokumentet?', heading.id, removeHeading); EditDocumentController.DocumentForm.$setDirty()"></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <textarea name="headingText" id="headingText" ng-model="heading.headingContent[0].text"
                                  class="form-control" rows="6" cols="50">
                        </textarea>
                    </div>
                </div>
            </div>
            <!-- Open modal for adding headings
             to document -->
            <button type="button" class="btn btn-default"
                    ng-click="openModal('app/components/content/editDocument/headings/addDocumentHeadingsModal.html', 'AddDocumentHeadingsController')">
                <span class="fa fa-plus-circle plus-icon"></span>
                Legg til avsnitt
            </button>
        </div>

    </div>
</div>





