/* --------------------------------------------- TABLE OF CONTENTS ------------------------------------- */
/* ----- CH1 GENERIC ----- */
/* ----- CH2 ADMINISTER_USERS ----- */
/* ----- CH3 CONTENT ----- */
/* ----- CH4 DOCUMENT ----- */
/* ----- CH5 EDITOR ----- */
/* ----- CH6 LOGIN ----- */
/* ----- CH7 MAIN ----- */
/* ----- CH8 MY_PAGE ----- */
/* ----- CH9 TOOLBAR ----- */
/* ----- CH10 TOPIC ----- */
/* ----- CH11 ADMINISTER_FIELDS ----- */
/*------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------- CH1 GENERIC ----------------------------------------- */
html,body {
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}
h1,h2,h3,h4{ font-weight: bold;}
.requi#c13a47-icon {
    color:#c13a47;
    font-size: 20px;
    margin-left: 5px;
}
.relative{
    position: relative;
}
.btn-primary {
    background-color: #337ab7;
}
.height-800{
    height: 100%;
}
.half-width {
    width: 70%;
}
.twelve-pix-vertical-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ten-pix-vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ten-pix-horizontal-padding{
    padding-left: 10px;
    padding-right: 10px;
}
.clickable:hover {
    cursor: pointer;
    color: #337ab7;
}
.plus-icon {
    font-size: large;
    color: #337ab7;
}
.body_background {
    background-color: #f3f3f3;
}
.center-align-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.d1{color: #337ab7; font-size: 1.3em;}
.d2{color: #c13a47; font-size: 1.3em;}
.d3{color: #58a739; font-size: 1.3em;}

.selected-item {
    font-weight: bold;
    border-radius: 5px;
    background-color: #e7e7e7;
}
.scrollable {
    overflow-y: auto;
}
.shadow-below {
    box-shadow: 0 1px #b8b8b8;
}
.shadow-right {
    box-shadow: 1px 0 #b8b8b8;
}
.shadow-left {
    box-shadow: -1px 0 #b8b8b8;
}
#notification-message {
    width: 75%;
    margin:0 auto;
    background-color: #58a739;
    border-radius: 10px;
}
#notification-message.alert-danger {
    background-color: #c13a47;
    border-color: #ebccd1;
}
#notification-message>a{
    color: #ffffff;
    font-weight: bolder;
}
#notification-container{
    position: absolute;
    width: 100%;
    top: 3px;
    left: 9.7%;
}
.nav-tabs {
    border-color: #b8b8b8;
}
.z-index-high {
    z-index: 1000000000;
}
.red-color {
    color: #c13a47;
}
.blue-color {
    color: #337AB7;
}
.green-color {
    color: #58a739;
}
.white-color {
    color: white;
}
.black-color {
    color: #333;
}
.red-background {
    background-color: #c13a47;
}
.blue-background {
    background-color: #337AB7;
}
.green-background {
    background-color: #58a739;
}
.white-background {
    background-color: white;
}
.darkgray-background {
    background-color: darkgray;
}
.font-size-large {
    font-size: large;
}
.height-100-percent {
    height: 100%;
}
.display-none {
    display: none;
}
.four-pix-horizontal-margin {
    margin-right: 4px;
    margin-left: 4px;
}
.content-box {
    box-sizing: content-box;
}
.font-size {
    font-size: 12px;
}

/* Makes modals vertically centered */
.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* ------------------------------------------------ CH2 ADMINISTER_USERS ----------------------------------------- */
#user-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.user-row {
    border-radius: 50px;
    background-color: #fff;
    border: solid #ccc thin;
    width: 70%;
    margin: 0.5em;
}
#add-user {
    color: #337AB7;
    border-radius: 50px;
    background-color: #fff;
    border: dashed #ccc thin;
    width: 23%;
    margin: 0.5em;
    padding: 1em;
}
#add-user:hover{
    background-color: #adadad;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.remove-user {
    color: #c13a47;
    font-size: 2em;
    padding-right: 1em;
}
.user-row-name {
    margin-left: 1em;
}
#administer-users-notifications {
    margin-bottom: 5%;
}
textarea {
    resize: none;
}

.administer-views {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}
.administer-target-groups {
    height: calc(100% - 33px);
    overflow-y: auto;
    overflow-x: hidden;
}
/* -------------------------------------------- CH3 CONTENT ----------------------------------------- */
.document-fields {
    overflow-y: hidden;
}
/* -------------------------------------------- CH4 DOCUMENT ----------------------------------------- */

.document-buttons {
    font-size: 1.8em;
    padding: 4px;
    margin-left: 3px;
    margin-right: 3px;
}
.document-buttons:hover {
    color: #3ca4ea;
    /*background-color: #a3b9ff;*/
    cursor: pointer;
}
.document-buttons[disabled]{
    color: grey;
}
.document-buttons[disabled]:hover {
    cursor: not-allowed;
    background-color: inherit;
}
.document-title {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow: ellipsis;      /* IE, Safari (WebKit) */
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}
.document-fields-field-name{
    width:60%;
    display: inline-block;
}
.document-fields-field-value{
    width:35%;
    display: inline-block;
}
.document-fields-field-value input{
    width:100%;
}
.link-group-panel{
    margin-bottom: 2px;
}
.link-category-group{
    margin-bottom: 30px;
}
/*.standard-list {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 650px;
    overflow-y: auto;
}*/
.file-browser {
    padding: 20px 15px 20px 15px;
    height: 100%;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 2px 1px #b8b8b8;
}
.document-content {
    margin-bottom: 20px;
}

/* Profile specific */
.editDocument {
    overflow-y: auto;
    height: 100%;
}
.newDocument {
    overflow-y: auto;
    height: 95%;
}
.editProfile {
    overflow-y: auto;
    height: 100%;
}
.newProfile {
    overflow-y: auto;
    height: 100%;
}
.editUtility {
    overflow-y: auto;
    height: 95%;
}
.utility-height {
    height: 85%;
}
.document-height {
    height: calc(100% - 200px);
}
.profiles-container {
    margin-top: 2px;
    height: 80px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 -2px #b8b8b8;
    z-index: 1000;
}
.profile-clickable:hover {
    cursor: pointer;
    color: #e4525a;
}

.selected-profile {
    font-weight: bolder;
    color: #e7e7e7;
    background-color: #c13a47;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
}
.selected-profile-icon:hover {
    color: #dddadb;
}
.profile-container {
    padding-top: 20px;
    width: 83px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block
}
.new-profile-container {
    height: 100%;
    padding-top: 13px;
    color: #c13a47;
}
.new-profile-container:hover {
    background-color: #eeebec;
}
.back-to-standard:hover {
    background-color: #eeebec;
}
.profile-text {
    text-align: center;
    font-size: 11px;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow: ellipsis;      /* IE, Safari (WebKit) */
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
}
.icon-size-big {
    font-size: 3em;
}
.icon-size-medium {
    font-size: 2.5em;
}
.back-to-standard {
    height: 100%;
    padding-top: 18px;
}
.profile-list {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0
}
.selected-profile-icon {
    color: white;
}
.panel1 {
    color: white;
    background-color: #337ab7;
}
.panel2 {
    color: white;
    background-color: #c13a47;
}
.panel3 {
    color: white;
    background-color: #58a739;
}
.panel4 {
    color: white;
    background-color: darkgray;
}
.edit-document-modal {
    max-height: 650px;
    overflow-y: auto;
}


.target-group-info:nth-child(1) { width: 30%}
.target-group-info:nth-child(2) { width: 15%}
.target-group-info:nth-child(3) { width: 12%}
.target-group-info:nth-child(4) { width: 16%}
.target-group-info:nth-child(5) { width: 27%}

.delete-document-field-icon {
    color: #c13a47;
    font-size: 1.7em;
}
/* -------------------------------------------- CH5 EDITOR ----------------------------------------- */
.editor-display {
    max-width: 1800px;
    margin: auto;
    margin-bottom: 0;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #b8b8b8;
}
/* -------------------------------------------- CH6 LOGIN ----------------------------------------- */
.logged-out-page button{
    margin-bottom: 1em;
}
.logged-out-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* -------------------------------------------- CH7 MAIN ----------------------------------------- */
.main-logo {
    width: 22%;
    height: auto;
    display: inline-block;
}
.alternative-logo {
    width: 300px;
    height: auto;
}
.secondary-view {
    height: 93%;
    padding-bottom: 20px;
}
/* -------------------------------------------- CH8 MY_PAGE ----------------------------------------- */
#account-info {
    margin-top: 5%;
}
.data-field {
    display: inline;
    font-weight: bold;
}
.data-row:hover{background-color: #E6E6E6;}
.data-row {
    width: 75%;
    margin-left: 5%;
    font-size: 16px;
}
.data-row >*{
    padding: 10px;
    margin: 0;
}
.sub-form {
    width: 75%;
    margin-left: 5%;
    padding: 2% 7% 5% 0;
    background-color: #E6E6E6;
}
.sub-form >*{
    padding-left: 5%;
}
.data-edit-icon {
    font-size: 1.5em;
}
.active-row {
    font-weight: bolder;
    color: #337ab7;
    background-color: #E6E6E6;
    border-bottom: inset;
    border-color: #ccc;
}
/* -------------------------------------------- CH9 TOOLBAR ----------------------------------------- */
/* User dropdown start */
/*div>div>.dropdown-toggle{
    margin-bottom: 0.5em;
    background-color: inherit;
    border: none;
}
div>div>.dropdown-toggle:hover{
    border-radius: 5%;
}*/
/* User dropdown end */
.nav-element-margin {
    margin-right: 0.5em;
}
#editor-nav {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #b8b8b8;
    display: inline-block;
    width:75%;
}
#search-bar {
    width: 365px;
}
/* -------------------------------------------- CH10 TOPIC ----------------------------------------- */
.edit-topic-icon {
    font-size: large;
    color: #ffffff;
}
.delete-topic-icon {
    font-size: large;
    color: #c13a47;
}
.delete-target-group-icon{
    font-size: large;
    color: #c13a47;
    padding-top: 10px;
}
.topic-browser {
    padding: 20px 15px 15px 15px;
    height: 100%;
}
.topic-list{
    overflow-y: auto;
    height: calc(100% - 106px);
    max-height: 100%;
}
.sub-topic {
    padding-left: 10px;
}
.standard-icon {
    color: #337ab7;
}
.item-text {
    color: #0f0f0f;
    padding: 5px;
}
.feedback-msg {
    color: darkred;
}
/* -------------------------------------------- CH11 ADMINISTER_FIELDS ----------------------------------------- */
.administer-fields ul{
    margin: 0;
    padding: 0;
}
.administer-fields li{
    text-decoration: none;
    list-style-type: none;
}
.administer-fields .field-list-title{
    display: inline-block;
    color: white;
}
.edit-field{
    font-size: 2em;
    padding-right: 1em;
}
span.field-item{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 700;
}
.field-item{
    margin-bottom: 8px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    padding:10px;
    width: 99%;
}
.administer-fields .field-item .field-item-field:nth-child(1), .administer-fields .field-item input:nth-child(2){
    width:150px;
    display: inline-block;
}
.administer-fields .field-item .field-item-field:nth-child(2), .administer-fields .field-item input:nth-child(3){
    width:400px;
    display: inline-block;
}
.field-list {
    height: 540px;
    overflow-y: auto;
}
a.sortable-columns{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* -------- AdministerActions -------- */
.administer-actions, .administer-status, .administer-link-categories, .administer-mandatory{
    width: 90%;
}
.action-list-item {
    display: inline-block;
}
.editor-display {
    max-width: 1800px;
    margin: auto;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #b8b8b8;
}
.sub-topic {
    padding-left: 10px;
}
.file-browser {
    padding: 20px 15px 20px 15px;
    height: 100%;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 2px 1px #b8b8b8;
}
.content-view {
    padding-top: 16px;
    height: 100%;
}
.standard-icon {
    color: #337ab7;
}
.item-text {
    color: #0f0f0f;
    padding: 5px;
}
.body_background {
    background-color: #f3f3f3;
}
.logged-out-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.center-align-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.text-align-center{
    text-align: center;
}
.pointer{cursor: pointer;}
.standard-list {
    margin-top: 10px;
    overflow-y: auto;
    height: calc(100% - 106px);
    max-height: 100%;
}
.administer-fields-list {
    height: 550px;
    overflow-y: auto;
}
/*-----------Document Icon colors---------*/
.d1{color: #337ab7; font-size: 1.3em;}
.d2{color: #c13a47; font-size: 1.3em;}
.d3{color: #58a739; font-size: 1.3em;}
.selected-topic {
    font-weight: bold;
    border-radius: 5px;
    background-color: #e7e7e7;
}
.scrollable {
    overflow-y: auto;
}
.nav-tabs {
    border-color: #b8b8b8;
}
.headline-box {
    height: 50px;
}
.headline-box h4 {
    display: inline-block;
}
/*~~~~~~~~~~~~TARGET GROUP~~~~~~~~~~~*/
.target-group-grid{
    height: 750px;
}
.tg-tbody {
    overflow-y: auto;
    overflow-x: hidden;
}
.tg-thead {
    background-color: #337ab7;
    color: white;
    /*display: block;*/
    /*position:relative;*/
    font-size: 14px;
}
.tg-thead-archive {
    background-color: darkgray;
    color: white;
    /*display: block;*/
    position:relative;
    font-size: 14px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c7c7c7;
}
input[readonly], textarea[readonly]{
    background-color: #e4e4e4 !important;
}
/* Administer Users start */
#user-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#add-user {
    color: #337AB7;
    border-radius: 50px;
    background-color: #fff;
    border: dashed #ccc thin;
    width: 23%;
    margin: 0.5em;
    padding: 1em;
}
#add-user:hover{
    background-color: #adadad;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/* Administer Users end */

/* Document */
input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 100px;
}
.ehelse-navbar {
    margin: 3px;
}
input.ng-invalid-requi#c13a47{
    background-color: rgba(255,0,0,0.3);
}
.search-options{
    margin: auto 10pt auto 10pt;
}