/* --------------------------------------------- TABLE OF CONTENTS ------------------------------------- */
/* ----- CH1 GENERIC ----- */
/* ----- CH2 ADMINISTER_USERS ----- */
/* ----- CH3 CONTENT ----- */
/* ----- CH4 DOCUMENT ----- */
/* ----- CH5 EDITOR ----- */
/* ----- CH6 LOGIN ----- */
/* ----- CH7 MAIN ----- */
/* ----- CH8 MY_PAGE ----- */
/* ----- CH9 TOOLBAR ----- */
/* ----- CH10 TOPIC ----- */
/* ----- CH11 ADMINISTER_FIELDS ----- */
/*------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------- CH1 GENERIC ----------------------------------------- */
.btn, input, select, textarea, .modal-content {
    border-radius: 0 !important;
}
.fa-question-circle {
    font-size: 15px !important;
}
.panel-body .panel-body {
    background-color: #f6f6f6;
}
html,body {
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}
h1,h2,h3,h4{ font-weight: bold;}

.relative{
    position: relative;
}
.absolute {
    position: absolute;
}
.btn-primary {
    background-color: #337ab7;
}
.half-width {
    width: 70%;
}
.twelve-pix-vertical-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ten-pix-vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ten-pix-horizontal-padding{
    padding-left: 10px;
    padding-right: 10px;
}
.ten-pix-bottom-padding {
    padding-bottom: 10px;
}
.clickable:hover {
    cursor: pointer;
    color: #337ab7;
}
.plus-icon {
    font-size: large;
    color: #444;
}
.body_background {
    background-color: #f3f3f3;
}
.center-align-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.selected-item {
    background-color: #337ab7;
    color: white !important;
}
.selected-item > span{
    color: white !important;
}
.scrollable {
    overflow-y: auto;
}
.shadow-below {
    box-shadow: 0 1px #b8b8b8;
}
.shadow-right {
    box-shadow: 1px 0 #b8b8b8;
}
.shadow-left {
    box-shadow: -1px 0 #b8b8b8;
}
#notification-message {
    width: 75%;
    margin:0 auto;
    /*background-color: #58a739;*/
    border-radius: 10px;
    text-align: center;
}
#notification-container{
    position: absolute;
    width: 40%;
    top: 40%;
    left: 29.7%;
}
.nav-tabs {
    border-color: #b8b8b8;
}
.z-index-high {
    z-index: 1000000000;
}
.red-color {
    color: #c13a47;
}
.blue-color {
    color: #337AB7;
}
.green-color {
    color: #58a739;
}
.white-color {
    color: white;
}
.black-color {
    color: #333;
}
.red-background {
    background-color: #c13a47;
}
.blue-background {
    background-color: #337AB7;
}
.green-background {
    background-color: #58a739;
}
.white-background {
    background-color: white;
}
.darkgray-background {
    background-color: darkgray;
}
.font-size-large {
    font-size: large;
}
.font-size-small {
    font-size: 11px;
}
.height-100-percent {
    height: 100%;
}
.display-none {
    display: none;
}
.four-pix-horizontal-margin {
    margin-right: 4px;
    margin-left: 4px;
}
.content-box {
    box-sizing: content-box;
}
.font-size {
    font-size: 12px;
}

/* Makes modals vertically centered */
.modal {
    text-align: center;
}

.modal-backdrop {
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.tooltip.in {
    opacity: 1;
    filter:alpha(opacity=100);
}
.tooltip-inner {
    word-wrap: break-word;
    max-width: 300px;
    color: #f3f3f3;
    background-color: #333;
}

/* ------------------------------------------------ CH2 ADMINISTER_USERS ----------------------------------------- */
#user-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.user-row {
    border-radius: 50px;
    background-color: #fff;
    border: solid #ccc thin;
    width: 70%;
    margin: 0.5em;
}
#add-user {
    color: #337AB7;
    border-radius: 50px;
    background-color: #fff;
    border: dashed #ccc thin;
    width: 23%;
    margin: 0.5em;
    padding: 1em;
}
#add-user:hover{
    background-color: #adadad;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.remove-user {
    color: #c13a47;
    font-size: 2em;
    padding-right: 1em;
}
.user-row-name {
    margin-left: 1em;
}
#administer-users-notifications {
    margin-bottom: 5%;
}
textarea {
    resize: none;
}
/* -------------------------------------------- CH3 CONTENT ----------------------------------------- */
.document-fields {
    overflow-y: hidden;
}
/* -------------------------------------------- CH4 DOCUMENT ----------------------------------------- */

.document-in-list {
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.document-in-list:hover >.fa-file-text{
    color: white;
}
.document-in-list:hover {
    cursor: pointer;
    background-color: #337ab7;
    color: white;
}
.opprett-button {
    height: 35px;
}
.tooltip-help {
    font-size: 0.8em;
}
.save-clone-download-buttons {
    color: #3897d9;
}
.document-buttons {
    font-size: 2em;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
    border: none;
    background-color: inherit;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.document-buttons.disabled {
    pointer-events: auto;
}
.document-buttons:active{
    outline: none;
    -ms-transform: translate(-1px, 1px); /* IE 9 */
    -webkit-transform: translate(-1px, 1px); /* Safari */
    transform: translate(-1px, 1px);
}
.document-buttons::selection{
    outline: none;
}
.my-tooltip {
    display: inline-block;
    padding: 3px;
}
.document-buttons:hover {
    color: #3da4eb;
    cursor: pointer;
}
.document-buttons[disabled]{
    color: #a5a5a5;
}
.document-buttons[disabled]:hover {
    cursor: not-allowed;
    background-color: inherit;
}
.document-title {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow: ellipsis;      /* IE, Safari (WebKit) */
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}
.document-links-link:nth-child(1) {  width: 3%; }
.document-links-link:nth-child(2) {  width: 7%; }
.document-links-link:nth-child(3) {  width: 46%;}
.document-links-link:nth-child(4) {  width: 37%;}
.document-links-link:nth-child(5) {  width: 3%; }
.document-links-link {
    margin-top: 10px;
    padding: 8px 5px 8px 5px !important;
}
.document-links-ul{
    -webkit-padding-start: 0;
    width: 100%;
    list-style-type: none;
}
.adjust-link-icon {
    display: inline-block;
    padding-top: auto;
    padding-bottom: auto;
}
.document-fields-field-sequence {
    width: 100%;
}
.document-fields-field-name{
    width:60%;
    display: inline-block;
}
.document-fields-field-value{
    width:35%;
    display: inline-block;
}
.document-fields-field-value input{
    width:100%;
}
.link-group-panel{
    margin-bottom: 2px;
}
.link-category-group{
    margin-bottom: 30px;
}
.file-browser {
    padding: 0;
    height: 100%;
    background-color: #e7e7e7;
}
.document-content {
    margin-bottom: 20px;
}

/* Profile specific */
.newProfile, .editProfile, .newDocument, .editDocument {
    overflow-y: auto;
    height: calc(100% - 220px);
}

.hideProfilesFromStandard, .hideProfilesFromProfile, .hideProfilesFromNewProfile, .editUtility {
    overflow-y: auto;
    height: calc(100% - 150px);
}

.utility-height {
    height: 85%;
}
.document-height {
    height: 100%;
}
.profiles-container {
    position: relative;
    margin-top: 2px;
    height: 80px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 -1px #888888;
    z-index: 500;
    background-color: #dfdfdf;
}
.toggle-profiles-down {
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    bottom: 69px;
    color: #c13a47;
    display: block;
    z-index: 510;
}
.toggle-profiles-up {
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    bottom: 4px;
    color: #c13a47;
    display: block;
    z-index: 510;
}
.circle-down {
    position: absolute;
    left: 50%;
    bottom: 69px;
    display: block;
    height: 19px;
    width: 19px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #dfdfdf;
    text-align: center;
    z-index: 509;
}
.circle-up {
    position: absolute;
    left: 50%;
    bottom: 4px;
    display: block;
    height: 19px;
    width: 19px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #dfdfdf;
    text-align: center;
    z-index: 509;
}

.toggle-profiles-down:hover, .toggle-profiles-up:hover {
    color: #993542;
    cursor: pointer;
}
.profile-clickable:hover {
    cursor: pointer;
    color: #e4525a;
}

.selected-profile {
    font-weight: bolder;
    color: #e7e7e7;
    background-color: #c13a47;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
}
.selected-profile-icon:hover {
    color: #dddadb;
}
.profile-container {
    padding-top: 20px;
    width: 83px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block
}
.new-profile-container {
    height: 100%;
    padding-top: 13px;
    color: #c13a47;
    background-color: #efefef;
}
.new-profile-container:hover {
    background-color: #dddddd;
    color: #c13a47;
}
.back-to-standard:hover {
    background-color: #dddddd;
}
.profile-text {
    text-align: center;
    font-size: 11px;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow: ellipsis;      /* IE, Safari (WebKit) */
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
}
.icon-size-big {
    font-size: 3em;
}
.icon-size-medium {
    font-size: 2.5em;
}
.back-to-standard {
    height: 100%;
    padding-top: 18px;
    background-color: #efefef;
}
.profile-list {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    background-color: #efefef;
}
.selected-profile-icon {
    color: white;
}
.panel1 {
    color: white;
    background-color: #337ab7;
    border-radius: 0px !important;
}
.panel2 {
    color: white;
    background-color: #c13a47;
    border-radius: 0px !important;
}
.panel3 {
    color: white;
    background-color: #58a739;
    border-radius: 0px !important;
}
.panel4 {
    color: white;
    background-color: darkgray;
    border-radius: 0 !important;
}
.panel{
    border-radius: 0 !important;
}
.edit-document-modal {
    max-height: 650px;
    overflow-y: auto;
}


.target-group-info:nth-child(1) { width: 30%}
.target-group-info:nth-child(2) { width: 15%}
.target-group-info:nth-child(3) { width: 12%}
.target-group-info:nth-child(4) { width: 16%}
.target-group-info:nth-child(5) { width: 27%}
.target-group-info{
    padding-top: 8px;
}
.edit-document-select-no-top-bottom-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.delete-document-field-icon {
    color: #c13a47;
    font-size: large;
}
.top-vertical-align{
    vertical-align: top;
}
/* -------------------------------------------- CH5 EDITOR ----------------------------------------- */
.editor-display {
    width: 100%;
    height: 100%;
}
/* -------------------------------------------- CH6 LOGIN ----------------------------------------- */
.logged-out-page button{
    margin-bottom: 1em;
}
.logged-out-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* -------------------------------------------- CH7 MAIN ----------------------------------------- */
.main-logo {
    width: 16.66666667%;
    height: auto;
    display: inline-block;
}
.alternative-logo {
    width: 300px;
    height: auto;
}
.secondary-view {
    height: calc(100% - 50px);
}
.main-container {
    padding: 0;
    margin: 0;
}
/* -------------------------------------------- CH8 MY_PAGE ----------------------------------------- */
#account-info {
    margin-top: 5%;
}
.data-field {
    display: inline;
    font-weight: bold;
}
.data-row:hover{background-color: #E6E6E6;}
.data-row {
    width: 75%;
    margin-left: 5%;
    font-size: 16px;
}
.data-row >*{
    padding: 10px;
    margin: 0;
}
.sub-form {
    width: 75%;
    margin-left: 5%;
    padding: 2% 7% 5% 0;
    background-color: #E6E6E6;
}
.sub-form >*{
    padding-left: 5%;
}
.data-edit-icon {
    font-size: 1.5em;
}
.active-row {
    font-weight: bolder;
    color: #337ab7;
    background-color: #E6E6E6;
    border-bottom: inset;
    border-color: #ccc;
}
/* -------------------------------------------- CH9 TOOLBAR ----------------------------------------- */
.font-size-number {
    color: #333;
}
.nav>li>a:hover {
    color: #333;
    background-color: #d7d7d7;
}
.search-bar {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}
.search-field {
    border-radius: 0;
}
.search-field-filter {
    border-radius: 0;
}
.dropdown-menu {
    background-color: #444;
    border-radius: 0;
    border: none;
}
.dropdown-menu .divider {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #e5e5e5;
}
menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #5585b7;
}
.dropdown-menu>li>a{
    color: white;
}
.search-filter-dropdown {
    background-color: white;
}
.toolbar-button {
    color: white;
    font-weight: bold;
}
.toolbar-button:hover {
    background-color: #666 !important;
    color: white !important;
    cursor: pointer;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #666;
    border-color: white;
}
.file-path, .file-path:hover{
    color: white !important;
    background-color: #444 !important;
}
.navbar-text{
    margin-top: 9px;
    margin-bottom: 9px;
}
.navbar-brand {
    padding: 0;
}
.nav-element-margin {
    margin-right: 0.5em;
}
#editor-nav {
    position: relative;
    background-color: #444;
    width: 100%;
    box-shadow: 0 2px 2px -1px #888888;
    z-index: 520;
}
/* Slider input styling */
input[type=range]{
    -webkit-appearance: none;
    margin-top: 23px
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: white;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #b8b8b8;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:focus  {
    background: #a5a5a5;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e4e4e4;
}

/* -------------------------------------------- CH10 TOPIC ----------------------------------------- */
#topic-title{
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 25px;        /* fallback */
    max-height: 50px;       /* fallback */
}
.content {
    margin-left: 15px;
    margin-right: 15px;
}
.edit-document-content{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f3f3f3;
}
.edit-topic-icon {
    font-size: large;
    color: #ffffff;
}
.delete-topic-icon {
    font-size: large;
    color: #c13a47;
}
.delete-target-group-icon{
    font-size: large;
    color: #c13a47;
}
.topic-browser {
    box-shadow: 1px 0 #b8b8b8;
    padding: 0;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    z-index: 518;
}
.document-browser {
    box-shadow: 1px 0 #b8b8b8;
    padding: 0;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    z-index: 515;
}
.content-browser {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f1f1f1;
}
.topic-list{
    overflow-y: auto;
    height: calc(100% - 149px);
}
::-webkit-scrollbar {
    height: 6px;
    width: 7px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 1ex;
}
::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:hover{
    background: #a3a3a3;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1;
}
.sub-topic {
    padding-left: 25px !important;
}
.sub-sub-topic {
    padding-left: 35px !important;
}
.sub-sub-sub-topic {
    padding-left: 45px !important;
}
.sub-sub-sub-sub-topic {
    padding-left: 55px !important;
}
.item-text {
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.item-text > .standard-icon {
    font-size: 1.5em;
    color: #337ab7;
}
.item-text:hover >.standard-icon{
    color: white;
}
.item-text:hover {
    cursor: pointer;
    background-color: #337ab7;
    color: white;
}
.feedback-msg {
    color: #a94442;
}
.editor-header {
    margin: 15px !important;
}
/* -------------------------------------------- CH11 ADMINISTER_FIELDS ----------------------------------------- */
.administer-fields ul{
    margin: 0;
    padding: 0;
}
.administer-fields li{
    text-decoration: none;
    list-style-type: none;
}
.administer-fields .field-list-title{
    display: inline-block;
    color: #f0f0f0;
}
.edit-field{
    font-size: 2em;
    padding-right: 1em;
}
span.field-item{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 700;
}
.field-item{
    margin-bottom: 8px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    padding:10px;
    width: 99%;
}
.administer-fields .field-item .field-item-field:nth-child(1), .administer-fields .field-item input:nth-child(2){
    width:150px;
    display: inline-block;
}
.administer-fields .field-item .field-item-field:nth-child(2), .administer-fields .field-item input:nth-child(3){
    width:400px;
    display: inline-block;
}
a.sortable-columns{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* -------- AdministerActions -------- */
.administer-actions, .administer-status, .administer-link-categories, .administer-mandatory{
    width: 90%;
}
.action-list-item {
    display: inline-block;
}
.content-view {
    box-shadow: -1px 0 #b8b8b8;
    padding: 0;
    height: 100%;
}
.administer-content{
    margin-left: 15px;
    margin-right: 15px;
    height: calc(100% - 149px);
}
.administer-fields-content{
    height: calc(100% - 59px);
}
.body_background {
    background-color: #f3f3f3;
}
.logged-out-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.center-align-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.center-align-delete-button {
    text-align: right;
    display: table-cell;
    vertical-align: middle !important;
}
.text-align-center{
    text-align: center;
}
.pointer{cursor: pointer;}

.standard-list {
    margin-top: 10px;
    overflow-y: auto;
    height: calc(100% - 149px);
}
.administer-fields-list {
    height: 550px;
    overflow-y: auto;
}
/*-----------Document Icon colors---------*/
.d1{color: #337ab7; font-size: 1.3em;}
.d2{color: #c13a47; font-size: 1.3em;}
.d3{color: #58a739; font-size: 1.3em;}
.selected-topic {
    font-weight: bold;
    border-radius: 5px;
    background-color: #e7e7e7;
}
.scrollable {
    overflow-y: auto;
}
.nav-tabs {
    border-color: #b8b8b8;
}
.headline-box {
    height: 50px;
}
.headline-box h4 {
    display: inline-block;
}
/*~~~~~~~~~~~~TARGET GROUP~~~~~~~~~~~*/
.tg-tbody {
    overflow-y: auto;
    overflow-x: hidden;
}
.tg-thead {
    background-color: #337ab7;
    color: white;
    /*display: block;*/
    /*position:relative;*/
    font-size: 14px;
}
.tg-thead-archive {
    background-color: darkgray;
    color: white;
    /*display: block;*/
    position:relative;
    font-size: 14px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #c7c7c7;
}
input[readonly], textarea[readonly]{
    background-color: #e4e4e4 !important;
}
/* Administer Users start */
#user-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#add-user {
    color: #337AB7;
    border-radius: 50px;
    background-color: #fff;
    border: dashed #ccc thin;
    width: 23%;
    margin: 0.5em;
    padding: 1em;
}
#add-user:hover{
    background-color: #adadad;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/* Administer Users end */

/* Document */
input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 100px;
}
input.ng-invalid-requi#c13a47{
    background-color: rgba(255,0,0,0.3);
}
.search-options{
    margin: auto 10pt auto 10pt;
}
.default-border-color-important{
    border: 1px solid #ccc !important;
}