.topic-browser {
    padding: 20px;
    height: 800px;
}

.topic-list{
    overflow-y: auto;
    height: 650px;
}

.navigation-bar {
    min-height: 40px;
    max-width: 1800px;
    margin: auto;
}
.editor-display {
    max-width: 1800px;
    margin: auto;
    height: 800px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #b8b8b8;
}

.sub-topic {
    padding-left: 10px;

}
.horizontal-align-div {
    width: 50%;
    margin: 0 auto;
}
.file-browser {
    padding: 20px;
    height: 800px;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 2px 1px #b8b8b8;
}

.content-view {
    padding: 20px;
}

/*.btn-primary {*/
    /*-webkit-border-radius: 0 !important;*/
    /*-moz-border-radius: 0 !important;*/
    /*border-radius: 0 !important;*/
    /*background-color: #0068e7;*/
/*}*/

.standard-icon {
    color: #0068e7;
}
.topic-text {
    color: #0f0f0f;
}
.plus-icon-standard {
    font-size: large;
    color: #0068e7;
}

.delete-icon-standard {
    font-size: medium;
    color: darkgrey;
}

.plus-icon-profile {
    font-size: large;
    color: #f60e24;
}

.plus-icon-utilityDocument{
    font-size: large;
    color: #1ae700;
}

#createNewDocument{
    font-size: medium;
}

.body_background {
    background-color: #f3f3f3;
}

.login-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.new-topic {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #e3e3e3;

}

textarea {
    resize: none;
}

.tenPixHorizontalPadding {
    padding-right: 10px;
    padding-left: 10px;
}

.tenPixVerticalPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.center-align-text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.clickable:hover {
    cursor: pointer;
    color: dodgerblue;
}
.document-clickable:hover {
    cursor: pointer;
    color: dodgerblue;
}

.standard-list {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 650px;
    overflow-y: auto;
}


.profile-icon {
    color: #f60e24;
}

/*-----------Document Icon colors---------*/
.standard{color: #0068e7;}
.profile{color: #f60e24;}
.utilityDocument{color: #1ae700;}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.topic-padding {
    padding: 20px;
}

.selected {
    font-weight: bold;
}

.scrollable {
    overflow-y: auto;
}

.shadow-below {
    box-shadow: 0 1px #b8b8b8;
}

#notificationMessage {
    position: absolute;
    width: 97%;
}
.nav-tabs {
    border-color: #b8b8b8;
}
.zIndexHigh {
    z-index: 1000000000;
}
.document-content {
    width: 45%;
    min-width: 200px;
}
.version-content {
    width: 30%;
    min-width: 200px;
}
input.version-id {
    max-width: 70px;
    float: right;
    clear: both;
}

.document-version {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.headline-box {
    position: relative;
    height: 50px;
}

.headline-box h4 {
    position: absolute;
    bottom: 0;
}



/*****************Administer*Fields******************/

.administer-fields ul{
    margin: 0;
    padding: 0;
}

.administer-fields li{
    text-decoration: none;
    list-style-type: none;
    cursor: move;


}

.administer-fields .field-list-title{
    display: inline-block;
}

.field-item{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding:5px;
    background: #f3f3f3;
    width: 100%;
}

.administer-fields .field-item .field-item-field:nth-child(1), .administer-fields .field-item input:nth-child(2){
    width:150px;
    display: inline-block;
}


.administer-fields .field-item .field-item-field:nth-child(2), .administer-fields .field-item input:nth-child(3){
    width:400px;
    display: inline-block;
}
