<div ng-controller="AdministerUsersController" class="col-lg-offset-3 col-lg-10">

    <!-- toast informing user -->
    <div class="row">
        <notification class="col-lg-offset-4 col-lg-6"></notification>
    </div>

    <!-- displays all the users -->
    <div id="userList" ng-repeat="users in userData">
        <!-- TODO ng-repeat for all users -->
        <div class="row user" ng-repeat="user in users">
            <div class="col-lg-1 vcenter">
                <img src="http://placehold.it/50x50" alt="{{user.name}}_profileImage"/>
            </div>
            <span class="col-lg-4 vcenter">{{user.name}}</span>
            <span class="col-lg-4 vcenter">{{user.email}}</span>
        </div>

        <div id="addUser" class="row clickable" ng-click="alert('add user')">
            <div class="col-lg-1 vcenter">
                <img src="http://placehold.it/50x50" alt="{{user.name}}_profileImage"/>
            </div>
            <span class="col-lg-4 vcenter">Lag ny bruker</span>
        </div>

    </div>
</div>