

<div class="form-group">
    <label for="target-group-table">Målgrupper</label>
    <table class="table table-condensed" id="target-group-table">
        <thead>
        <tr>
            <th>Navn</th>
            <th>Obligatorisk</th>
            <th>Frist</th>
            <th>Handling</th>
            <th>Beskrivelse</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in document.targetGroups">
            <!-- NAVN -->
            <td>{{target_groups_dict[group.targetGroupId].name}}</td>
            <!-- OBLIGATORISK -->
            <td><select class="form-control" name="" id="mandatory" ng-model="group.mandatory">
                <option ng-repeat="mandatory in mandatory_option_list" value="{{mandatory.value}}">{{mandatory.name}}</option>
            </select></td>
            <!-- FRIST -->
            <td><input class="form-control" type="text" id="deadline" ng-model="group.deadline"></td>
            <!-- HANDLING -->
            <td><select class="form-control" name="" id="action" ng-model="group.action">
                <option value="">Send</option>
                <option value="">Motta</option>
                <option value="">Send og motta </option>
            </select></td>
            <!-- BESKRIVELSE -->
            <td><textarea class="form-control" id="description" cols="30" rows="3" ng-model="group.description"></textarea></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="showAddTG()"><i class="fa fa-plus"></i>Legg til ny</button>
</div>