<form ng-controller="EditTopicController" name="EditTopicController.editTopicForm" role="form" method="post">
    <div class="shadow-below">
        <div class="headline-box">

            <!-- Title -->
            <h4 class="selected-heading">Rediger tema</h4>
        </div>

        <p class="twelve-pix-vertical-padding">

            <!-- Save change -->
            <button ng-click="saveTopicChange(EditTopicController.editTopicForm)" type="button" class="btn btn-primary" ng-disabled="EditTopicController.editTopicForm.$pristine">
                <span class="fa fa-check-circle-o edit-topic-icon"></span>
                 Lagre tema
            </button>

            <!-- Delete topic -->
            <button ng-click="openConfirmationModal('Er du sikker på at du vil slette temaet?', selectedTopic, deleteTopic)" type="button" class="btn btn-danger pull-right">
                <span class="fa fa-remove"></span>
                Slett tema
            </button>
        </p>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <!-- choose topic title -->
            <div class="form-group">
                <label class="col-sm-3 control-label"  for="editTopicTitle">Tittel: <span class="required-icon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span></label>
                <div class="form-group col-sm-9">
                    <input type="text" name="editTopicTitle" id="editTopicTitle" class="form-control half-width"
                           ng-model="selectedTopic.title" required/>
                </div>
            </div>

            <!-- Choose description -->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="editTopicDescription">Beskrivelse: </label>
                <div class="form-group col-sm-9">
                    <textarea name="editTopicDescription" id="editTopicDescription" class="form-control half-width"
                              ng-model="selectedTopic.description" rows="6" cols="50"></textarea>
                </div>
            </div>

            <!-- Choose sequence -->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="editTopicSequence">Rekkefølge: </label>
                <div class="form-group col-sm-9">
                    <input type="number" min="1" string-to-number name="editTopicSequence" id="editTopicSequence" class="form-control half-width"
                              ng-model="selectedTopic.sequence" />
                </div>
            </div>

            <!-- Choose topic parent -->
            <div class="form-group">
                <label class="col-sm-3 control-label" for="editTopicParent">Tema ligger under: </label>
                <div class="form-group col-sm-9">
                    <select name="editTopicParent" id="editTopicParent" class="form-control half-width" ng-model="selectedTopic.parentId">
                        <option value="">Ingen</option>
                        <option ng-repeat="topic in topicTupleList" ng-if="topic.level <= 2 && topic.id != selectedTopic.id" value={{topic.id}}>{{topic.path}}</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</form>
