<!-- Modal for resetting password -->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Here be the head</h4>
            </div>
            <div class="modal-body">

                <form name="forgotPassword" role="form">
                    <p>Skriv inn email-adressen og send, så får du et nytt tilsendt.</p>

                    <div class="form-group input-group">
                        <span class="input-group-addon" id="icon-register-email"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                        <input class="form-control" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" name="register-email" id="register-email" placeholder="Email" required ng-model="registerEmail"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="forgotPassword.$invalid" ng-click="close(registerEmail)" >Send nytt passord</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('cancel')">Avbryt</button>
            </div>
        </div>
    </div>
</div>