<div class="logged-out-page">

    <!-- Title -->
    <h3>MIME</h3>
    <h4>Glemt passord?</h4>

    <!-- forgotPassword input fields -->
    <form name="forgotPassword" ng-submit="submit(email)" role="form">

        <p>Skriv inn emailen din så får du tilsendt nytt passord.</p>

        <div class="form-group input-group">
            <span class="input-group-addon" id="icon-forgot-password-email"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
            <input class="form-control" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" name="forgot-password-email" id="forgot-password-email" placeholder="Email" required ng-model="email"/>
        </div>

        <!-- Send new password -->
        <div class="form-actions">
            <button type="submit" ng-disabled="forgotPassword.$invalid" class="btn btn-primary btn-group-justified font-size-large">Send nytt passord</button>
        </div>

        <!-- Feedback -->
        <div class="has-success">
            <span ng-show="forgotPassword.$success" class="help-block">{{feedback}}</span>
        </div>
        <div class="has-error">
            <span ng-show="forgotPassword.$error" class="help-block">{{feedback}}</span>
        </div>



        <a ui-sref="login"> Logg inn her.</a>
    </form>
</div>