<div ng-controller="MyPageController" class="col-lg-offset-2 col-lg-10">

    <!-- toast informing user -->
    <div class="row">
        <notification class="col-lg-offset-4 col-lg-6"></notification>
    </div>

    <!-- Account information -->
    <div id="account-info" class="row">
        <div class="col-lg-4">
            <img src="assets/img/ehelseLogoAlternative.png" alt="ehelse logo" class="img-circle alternative-logo"/>
        </div>


        <div class="col-lg-7">
            <div class="row">
                <h3 class="col-lg-2">Kontoinformasjon</h3>
            </div>

            <!-- Name Form -->
            <div id="nameRow" ng-click="toggleName()" class="row data-row clickable">
                <p class="col-lg-2">Navn</p>
                <p class="data-field col-lg-5">{{currentUser.name}}</p>
                <i class="fa fa-edit col-lg-1 pull-right data-edit-icon"></i>
            </div>
            <div id="nameForm" class="row sub-form">
                <form class="form-inline" name="editNameForm">
                    <div class="form-group">
                        <label for="name">Navn</label>
                        <input type="text" class="form-control" id="name" placeholder="Navn" ng-model="myPage.name" required>
                        <button type="submit" ng-disabled="editNameForm.$invalid" class="btn btn-primary pull-right" ng-click="submit()">Lagre</button>
                    </div>
                </form>
            </div>

            <!-- Email Form -->
            <div id="emailRow" ng-click="toggleEmail()" class="row data-row clickable">
                <p class="col-lg-2">Epost</p>
                <p class="data-field col-lg-5">{{currentUser.email}}</p>
                <i class="fa fa-edit col-lg-1 pull-right data-edit-icon"></i>
            </div>
            <div id="emailForm" class="row sub-form">
                <form class="form-inline" name="editEmailForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" class="form-control" id="email" placeholder="Email" ng-model="myPage.email" required>
                        <button type="submit" ng-disabled="editEmailForm.$invalid" class="btn btn-primary pull-right" ng-click="submit()">Lagre</button>
                    </div>
                </form>
            </div>

            <!-- Password Form -->
            <div id="passwordRow" ng-click="togglePassword()" class="row data-row clickable">
                <p class="col-lg-2">Passord</p>
                <p class="data-field col-lg-7">Sist endret {{currentUser.pwDateEdited}}</p>
                <i class="fa fa-edit col-lg-1 pull-right data-edit-icon"></i>
            </div>
            <div id="passwordForm" class="row sub-form">
                <form name="editPasswordForm">
                    <div class="form-group">
                        <label for="oldPassword">Gammelt passord</label><span class="required-icon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
                        <input type="password" class="form-control" id="oldPassword" ng-model="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nytt passord</label><span class="required-icon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
                        <input type="password" class="form-control" id="newPassword" ng-model="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="repeatNewPassword">Gjenta nytt passord</label><span class="required-icon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
                        <input type="password" class="form-control" id="repeatNewPassword" ng-model="repeatNewPassword" required>
                    </div>
                    <button type="submit" ng-disabled="editPasswordForm.$invalid" class="btn btn-primary pull-right" ng-click="changePassword()">Lagre</button>
                </form>
            </div>

        </div>
    </div>
</div>