
<form ng-controller="EditDocumentController" name="DocumentForm" role="form" >

    <div class="shadow-below">
        <div class="headline-box">
            <h4 class="selected">Rediger tema</h4>
        </div>
        <p class="twelvePixVerticalPadding">
            <button type="button" class="btn btn-default" ng-click="submit()">
                <span class="fa fa-check-circle edit-topic-icon"></span>
                Lagre dokument
            </button>
            <button type="button" class="btn btn-default pull-right">
                <span class="fa fa-remove delete-topic-icon tenpixhorizontalpadding"></span>
                Slett dokument
            </button>
        </p>
    </div>

    <div>

        <!-- choose document type -->
        <div class="form-group half-width">
            <label for="documentType">Type dokument: </label>
            <select name="documentType" id="documentType"  ng-change="setCurrentDocumentFieldsByDocumentDocumentTypeId();" ng-model="document.documentTypeId" class="form-control">
                <option ng-repeat="document_type in document_types_option_list" value="{{document_type.value}}">{{document_type.name}}</option>
            </select>
        </div>

        <!-- Choose document title -->
        <div class="form-group half-width">
            <label for="standardTitle">Tittel: </label><span class="requiredIcon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
            <input type="text" name="standardTitle" id="standardTitle" ng-model="document.title" class="form-control" required/>
        </div>

        <!-- Choose document description -->
        <div class="form-group half-width">
            <label for="standardDescription">Beskrivelse: </label><span class="requiredIcon" data-toggle="tooltip" title="Obligatorisk felt" data-placement="top">*</span>
            <textarea name="standardDescription" id="standardDescription" ng-model="document.description" class="form-control" rows="6" cols="50" required></textarea>
        </div>

        <!-- Choose which topic to create document under -->
        <div class="form-group half-width">
            <label for="standardParent">Opprettes i: </label>
            <select name="standardParent" id="standardParent" ng-model="document.topicId" class="form-control">
                <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
            </select>
        </div>

        <!-- Choose document fields -->
        <document-fields></document-fields>

        <!-- Choose target groups -->
        <document-target-groups></document-target-groups>

    </div>

</form>
