<form ng-controller="EditDocumentController" name="EditDocumentController.DocumentForm"  role="form" style="height: calc(100% - 240px);">


    <!-- This div contains the toolbar of the document with -->
    <div class="shadow-below">

        <!-- Headline displaying document type or state -->
        <div class="headline-box">
            <h4 class="selected" ng-if="documentState == 'editTopic'">Rediger tema</h4>
            <h4 class="selected" ng-if="documentState == 'newDocument'">Nytt dokument</h4>
            <h4 class="selected" ng-if="documentState == 'editDocument' || documentState == 'editUtility'">Rediger dokument</h4>
            <h4 class="selected" ng-if="documentState == 'editProfile'">Rediger profil</h4>
            <h4 class="selected" ng-if="documentState == 'newProfile'">Ny profil</h4>

            <!-- FEEDBACK -->
            <!--
            <span ng-messages="EditDocumentController.DocumentForm.$error" class="feedback-msg">
                <span ng-message="required">
                    For å lagre dokument mangler du:
                </span>
            </span>
            <span ng-messages="EditDocumentController.DocumentForm.standardTitle.$error" class="feedback-msg">
                <span ng-message="required"> 'Tittel'</span>
            </span>
            <span ng-messages="EditDocumentController.DocumentForm.internalID.$error" class="feedback-msg">
                <span ng-message="required"> 'Intern ID'</span>
            </span>
            <span ng-messages="EditDocumentController.DocumentForm.f.$error" class="feedback-msg">
                <span ng-message="required"> 'Felter'</span>
            </span>
            -->
            <span ng-repeat="(key, errors) in EditDocumentController.DocumentForm.$error track by $index" class="feedback-msg">
                <span>For å lagre dokument mangler du : </span>
                <span ng-repeat="e in errors | unique: '$name'">
                    <span ng-if="e.$name == 'f'" class="feedback-msg">'Felter' </span>
                    <span ng-if="e.$name == 'standardTitle'" class="feedback-msg">'Tittel' </span>
                    <span ng-if="e.$name == 'internalID'" class="feedback-msg">'Intern ID' </span>
                    <span ng-if="e.$name == 'linkCategoryUrl'" class="feedback-msg">'Lenke-kategori' </span>
                    <span ng-if="e.$name == 'targetGroups'" class="feedback-msg">'Målgrupper' </span>
                    <!--{{ e.$name }} has an error: <strong>{{ key }}</strong>.-->
                </span>
            </span>
        </div>

        <!-- All buttons used in the various document states and types -->
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-primary" ng-click="submit(EditDocumentController.DocumentForm);resetDocumentScroll()" ng-if="documentState == 'newDocument'" ng-disabled="EditDocumentController.DocumentForm.$invalid || EditDocumentController.DocumentForm.$pristine">
                <span class="fa fa-check-circle edit-topic-icon"></span>
                Opprett dokument
            </button>
            <button type="button" class="btn btn-primary" ng-click="submit(EditDocumentController.DocumentForm)" ng-if="documentState == 'newProfile'" ng-disabled="EditDocumentController.DocumentForm.$invalid || EditDocumentController.DocumentForm.$pristine">
                <span class="fa fa-check-circle edit-topic-icon"></span>
                Opprett profil
            </button>
            <button type="button" class="btn btn-primary" ng-disabled="EditDocumentController.DocumentForm.$invalid || EditDocumentController.DocumentForm.$pristine" ng-click="submit(EditDocumentController.DocumentForm)" ng-if="documentState == 'editProfile' || documentState == 'editDocument' || documentState == 'editUtility'">
                <span class="fa fa-check-circle-o edit-topic-icon"></span>
                Lagre dokument
            </button>
            <button type="button" class="btn btn-default" ng-disabled="!((documentState == 'editProfile' || documentState == 'editDocument' || documentState == 'editUtility') && !document.nextDocumentId)" ng-click="newVersion(document)">
                <span class="fa fa-clone"></span>
                Ny versjon
            </button>
            <span class="ten-pix-horizontal-padding" ng-if="document.editedTimestamp">
                Opprettet: <b >{{getFormattedTimestamp(document.createdTimestamp).date}}</b>
                Kl: <b >{{getFormattedTimestamp(document.createdTimestamp).time}}</b>
            </span>
            <span class="ten-pix-horizontal-padding" ng-if="document.editedTimestamp">
                Sist endret: <b >{{getFormattedTimestamp(document.editedTimestamp).date}}</b>
                Kl: <b >{{getFormattedTimestamp(document.editedTimestamp).time}}</b>
            </span>
            <button type="button" class="btn btn-danger pull-right" ng-if="documentState == 'editProfile' || documentState == 'editDocument' || documentState == 'editUtility'" ng-click="openConfirmationModal('Er du sikker på at du vil slette dokumentet?', document, deleteDocument)">
                <span class="fa fa-remove"></span>
                Slett dokument
            </button>

        </p>
    </div>
    <div id="editDocument" class="{{documentState}} shadow-below" style="height: 100%;">
        <!-- Buttons toggling between document versions -->
        <div class=" twelve-pix-vertical-padding" ng-if="document_dict[document.nextDocumentId] || document_dict[document.previousDocumentId]">
            <button type="button" class="btn btn-default" ng-disabled="document.nextDocumentId && !document.previousDocumentId" ng-click="openDocumentById(document.previousDocumentId)">
                <span class="fa fa-arrow-circle-left"></span>
                Tidligere versjon
            </button>
            <button type="button" class="btn btn-default pull-right" ng-disabled="document.previousDocumentId && !document.nextDocumentId" ng-click="openDocumentById(document.nextDocumentId)">
                Neste versjon
                <span class="fa fa-arrow-circle-right"></span>
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <!-- choose document type -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="documentType">Type dokument: </label>
                    <div class="form-group col-sm-9">
                        <select name="documentType" id="documentType"
                                ng-change="setCurrentDocumentFieldsByDocumentDocumentTypeId();"
                                ng-model="document.documentTypeId" class="form-control half-width" ng-disabled="documentState == 'editDocument' || documentState == 'newProfile' || documentState == 'editProfile' || documentState == 'editUtility'">
                            <option ng-repeat="document_type in document_types_option_list" ng-if="document_type.value == '1' && !document.standardId || document_type.value == '2' && document.standardId || document_type.value == '3'  && !document.standardId"
                                    value="{{document_type.value}}">{{document_type.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Choose document title -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="standardTitle">Tittel: <span class="required-icon"
                                                                                            data-toggle="tooltip"
                                                                                            title="Obligatorisk felt"
                                                                                            data-placement="top">*</span></label>
                    <div class="form-group col-sm-9">
                        <input type="text" name="standardTitle" id="standardTitle" ng-model="document.title"
                               class="form-control half-width" required/>
                    </div>
                </div>

                <!-- Choose Internal ID title -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="internalID">Intern ID: <span class="required-icon"
                                                                                            data-toggle="tooltip"
                                                                                            title="Obligatorisk felt"
                                                                                            data-placement="top">*</span></label>
                    <div class="form-group col-sm-9">
                        <input type="text" name="internalID" id="internalID" ng-model="document.internalId"
                               class="form-control half-width" required/>
                    </div>
                </div>

                <!-- Choose his number-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="hisNumber">HIS nummer: </label>
                    <div class="form-group col-sm-9">
                        <input type="text" name="hisNumber" id="hisNumber" ng-model="document.hisNumber"
                               class="form-control half-width" />
                    </div>
                </div>

                <!-- choose status -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="statusid">Status: </label>
                    <div class="form-group col-sm-9">
                        <select name="statusid" id="statusid"
                                ng-model="document.statusId" class="form-control half-width">
                            <option ng-repeat="status in status_list" ng-hide="status.isArchived"
                                    value={{status.id}}>{{status.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- choose sequence-->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="sequence">Rekkefølge: </label>
                    <div class="form-group col-sm-9">
                        <input type="text" name="sequence" id="sequence" class="form-control half-width"
                               ng-model="document.sequence" value="1" numbers-only maxlength="15"/>
                    </div>
                </div>

                <!-- Choose document description -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="standardDescription">Beskrivelse: </label>
                    <div class="form-group col-sm-9">
                        <textarea name="standardDescription" id="standardDescription" ng-model="document.description"
                                  class="form-control half-width" rows="6" cols="50"></textarea>
                    </div>
                </div>

                <!-- Choose which topic to create document under -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="standardParent" ng-hide="documentState == 'editDocument' || documentState == 'editProfile' || documentState == 'editUtility';">Opprettes i: </label>
                    <label class="col-sm-3 control-label" for="standardParent" ng-hide="documentState == 'newDocument' || documentState == 'newProfile' || documentState == 'newUtility';">Ligger under: </label>
                    <div class="form-group col-sm-9">
                        <select name="standardParent" id="standardParent" ng-model="document.topicId"
                                class="form-control half-width">
                            <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>




        <!-- Choose document fields -->
        <document-fields></document-fields>

        <!-- Choose target groups -->
        <document-target-groups></document-target-groups>

        <!-- Choose document link categories + links -->
        <document-link-categories></document-link-categories>

    </div>

    <!-- Container for listing profiles related to the document -->
    <profilescontainer></profilescontainer>
</form>

