
<form ng-controller="EditDocumentController" name="DocumentForm" role="form" >

    <button type="button" ng-click="submit()">Lagre</button>

    <div >

        <!-- choose document type -->
        <div class="form-group">
            <label for="documentType">Type dokument: </label>
            <select name="documentType" id="documentType"  ng-change="setCurrentDocumentFieldsByDocumentDocumentTypeId();" ng-model="document.documentTypeId" class="form-control">
                <option ng-repeat="document_type in document_types_option_list" value="{{document_type.value}}">{{document_type.name}}</option>
            </select>
        </div>

        <!-- Choose document title -->
        <div class="form-group">
            <label for="standardTitle">Tittel: </label>
            <input type="text" name="standardTitle" id="standardTitle" ng-model="document.title" class="form-control" required/>
        </div>

        <!-- Choose document description -->
        <div class="form-group">
            <label for="standardDescription">Beskrivelse: </label>
            <textarea name="standardDescription" id="standardDescription" ng-model="document.description" class="form-control" rows="6" cols="50" required></textarea>
        </div>

        <!-- Choose which topic to create document under -->
        <div class="form-group">
            <label for="standardParent">Opprettes i: </label>
            <select name="standardParent" id="standardParent" ng-model="document.topicId" class="form-control">
                <option ng-repeat="topic in topicTupleList" value={{topic.id}}>{{topic.path}}</option>
            </select>
        </div>

        <!-- Choose document fields -->
        <document-fields></document-fields>

        <!-- Choose target groups -->
        <document-target-groups></document-target-groups>

        <document-link-categories></document-link-categories>

    </div>

</form>
