<div class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" ng-click="close('cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ny målgruppe</h4>
            </div>


            <div class="modal-body">
                <table class="table table-condensed" id="target-group-table">
                    <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Obligatorisk</th>
                        <th>Frist</th>
                        <th>Handling</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <!-- NAVN -->
                        <td><select name="" id="name" class="form-control" ng-model="newTargetGroup.name">
                            <option ng-repeat="groups in targetGroups" value="{{groups.name}}" >{{groups.name}}</option>
                        </select></td>

                        <!-- OBLIGATORISK -->
                        <td><select class="form-control" name="" id="mandatory" ng-model="newTargetGroup.mandatory">
                            <option value="">Ja</option>
                            <option value="">Nei</option>
                        </select></td>

                        <!-- FRIST -->
                        <td><input class="form-control" type="text" id="deadline" ng-model="newTargetGroup.deadline"></td>

                        <!-- HANDLING -->
                        <td><select class="form-control" name="" id="action" ng-model="newTargetGroup.action">
                            <option value="">Send</option>
                            <option value="">Motta</option>
                            <option value="">Send og motta </option>
                        </select></td>

                        <!-- BESKRIVELSE -->
                        <td><textarea class="form-control" id="description" cols="30" rows="3" ng-model="newTargetGroup.description"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="modal-footer">
                <button type="button" ng-click="close('add')" class="btn btn-primary" data-dismiss="modal">Legg til</button>
                <button type="button" ng-click="close('cancel')" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>