<div ng-controller="AdministerLinkCategoriesController">
    <div class="shadow-below">
        <div class="headline-box">
            <h4 class="selected">Administrer link-kategoriene</h4>
        </div>
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewLinkCategoryModal()"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Legg til ny
            </button>
        </p>
    </div>
    <div class="table-responsive administer-views shadow-below">
        <table class="table table-striped" id="AdministerLinkCategoriesTable">
            <thead class="white-color blue-background">
            <tr>
                <th>Tittel</th>
                <th>Beskrivelse</th>
                <th>Rediger</th>
                <th>Slett</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="linkCategory in linkCategory">
                <td>{{linkCategory.name}}</td>
                <td>{{linkCategory.description}}</td>
                <td><span class="fa fa-pencil-square-o fa-2x vcenter clickable" ng-click="showEditLinkCategoryModal(linkCategory.id)"></span></td>
                <td><span class="fa fa-remove fa-fw vcenter clickable remove-user" ng-click="openConfirmationModal('Er du sikker på at du vil slette?', linkCategory, deleteLinkCategoryById)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
