<div class="col-lg-2 col-mg-2 col-sm-2 col-xs-s2 topic-folder-browser">

    <!-- Topic folder browser -->
    <!-- Iterates through the list of topics and display them as folders -->
    <div class="topic">
        <a href="" ng-click="changeView('newtopic')">
            <span class="glyphicon glyphicon-plus-sign plus-icon"></span>
            Nytt tema
        </a>
    </div>
    <div ng-repeat="topic in topics" class="topic">
        <a href=#/main-view/topic{{topic.id}} id={{topic.id}} data-toggle="collapse" class="topic-text" ng-click="getStandards(topic.id)">
            <span id=folder{{topic.id}} class="folder glyphicon glyphicon-folder-close"> </span>
            {{topic.title}}
        </a>
        <div id=/main-view/topic{{topic.id}} class="collapse">
            <div class="sub-topic" ng-repeat="subTopic in topic.children">
                <a href=#subtopic{{subTopic.id}} id={{subTopic.id}} data-toggle="collapse" class="topic-text" ng-click="getStandards(subTopic.id)">
                    <span id=folder{{subTopic.id}} class="folder glyphicon glyphicon-folder-close"> </span>
                    {{subTopic.title}}
                </a>
                <div id=subtopic{{subTopic.id}} class="collapse">
                    <div ng-repeat="subsubTopic in subTopic.children" class="sub-topic">
                        <a href="" id={{subsubTopic.id}} class="topic-text" ng-click="getStandards(subsubTopic.id)">
                            <span id=#subtopic{{subsubTopic.title}} class="folder glyphicon glyphicon-folder-close"> </span>
                            {{subsubTopic.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>