<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="AddEditActionController" name="addActionForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Opprett handling</h3>
                </div>

                <!-- Action input fields -->
                <div class="modal-body">

                    <!-- Title -->
                    <div class="form-group">
                        <label for="newActionName">Tittel: </label>
                        <input id="newActionName" focus-me="shouldBeOpen" ng-model="newAction.name" type="text" class="form-control" required/>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label for="actionDescription">Beskrivelse: </label>
                        <textarea id="actionDescription" ng-model="newAction.description" class="form-control"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Create new action and close modal -->
                        <button ng-click="postNewAction(newAction)" data-dismiss="modal" type="submit" ng-disabled="addActionForm.$invalid" class="btn btn-primary">Opprett</button>

                        <!-- Cancel and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>