<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-controller="AddEditActionController" name="editActionForm" role="form" method="post">

                <!-- Modal title -->
                <div class="modal-header">
                    <h3>Endre handling</h3>
                </div>

                <!-- Action input fields -->
                <div class="modal-body">

                    <!-- Title -->
                    <div class="form-group">
                        <label for="editActionName">Tittel: </label>
                        <input id="editActionName" focus-me="shouldBeOpen" ng-model="currentAction.name" type="text" class="form-control" required/>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label for="actionDescription">Beskrivelse: </label>
                        <textarea id="actionDescription" ng-model="currentAction.description" class="form-control"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="form-actions">

                        <!-- Save changes and close modal -->
                        <button ng-click="submitActionChange(currentAction)" data-dismiss="modal" type="submit" ng-disabled="editActionForm.$invalid" class="btn btn-primary">Lagre endring</button>

                        <!-- Cancel changes and close modal -->
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Avbryt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>