<!-- Panel for displaying list of standards and profiles -->
<div class="col-lg-2 col-mg-2 col-sm-2 col-xs-2 file-browser" ng-controller="DocumentController">
    <div>
        <div class="shadow-below">
            <h4 class="selected">{{topic.title}}</h4>
            <p class="tenPixVerticalPadding">
                <a ng-click="changeView('newstandard', 'standard')" class="clickable">
                    <span class="glyphicon glyphicon-plus-sign plus-icon-standard"></span>
                    Ny standard
                </a>
                <a ng-click="changeView('newstandard', 'profil')" class="clickable tenPixHorizontalPadding">
                    <span class="glyphicon glyphicon-plus-sign plus-icon-profile"></span>
                    Ny profil
                </a>
            </p>
        </div>
        <div class="standard-list">
            <div ng-repeat="document in documents | filter: search">
                <p class="document-clickable" id=standard{{document.id}} ng-click="getContent(document.id);setSelectedDocumentId(document.id)">
                    <span  class="standard-icon glyphicon glyphicon-file"> </span>
                    {{document.title}}
                </p>
            </div>
        </div>
    </div>
</div>