<!-- Panel for displaying list of standards and profiles -->
<div class="col-lg-3 col-mg-3 col-sm-3 col-xs-3 file-browser" ng-controller="DocumentController">
    <div>
        <div class="shadow-below">
            <div class="headline-box">
                <h4 class="selected-heading">{{topic.title}}</h4>
            </div>
            <p class="ten-pix-vertical-padding">
                <button type="button" ng-click="setDocumentState('newDocument');openDocument()" class="btn btn-default">
                    <span class="fa fa-plus-circle plus-icon"></span>
                    Nytt dokument
                </button>
            </p>
        </div>
        <div class="standard-list">
            <div ng-repeat="document in documents | filter: search | orderBy:getSequence">
                <p class="clickable" id=standard{{document.id}} ng-class="document.id == selected_document.id ? 'selected-item' : ''" ng-click="setDocumentState('editDocument');openDocument(document);">
                    <span  class="fa fa-file-text d{{document.documentTypeId}}"> </span>
                    {{document.title}}
                </p>
            </div>
        </div>
    </div>
</div>


