<form name="newTopic" role="form" ng-submit="" class="new-topic">
    <div class="form-group">
        <label for="topicId">Id: </label>
        <input type="number" name="topicId" id="topicId" class="form-control" ng-model="topicId" required />
    </div>
    <div class="form-group">
        <label for="topicTitle">Title: </label>
        <input type="text" name="topicTitle" id="topicTitle" class="form-control" ng-model="topicTitle" required />
    </div>
    <div class="form-group">
        <label for="topicDescription">Description: </label>
        <textarea name="topicDescription" id="topicDescription" class="form-control" ng-model="topicDescription" rows="6" cols="50" required></textarea>
    </div>
    <div class="form-group">
        <label for="topicIsInCatalogue">Finnes i referansekatalog: </label>
        <select name="topicIsInCatalogue" id="topicIsInCatalogue" ng-model="topicIsInCatalogue" class="form-control">
            <option ng-selected="true" value="yes">Ja</option>
            <option value="no">Nei</option>
        </select>
    </div>
    <div class="form-group" >
        <label for="topicParent">Foreldermappe: </label>
        <select name="topicParent" id="topicParent" class="form-control" ng-model="topicParent">
            <option ng-selected="true" value="none">Ingen</option>
            <option value={{topic.id}} ng-repeat="topic in topics">{{topic.title}}</option>
            <option ng-repeat="subtopic in subtopics">{{subtopic.title}}</option>

        </select>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Opprett nytt tema</button>
    </div>
</form>