<div ng-controller="AdministerHeadingsController" class="height-100-percent">
    <div class="shadow-below">

        <!-- Title -->
        <div class="headline-box">
            <h4 class="selected">Administrer overskrifter</h4>
        </div>

        <!-- Add new heading -->
        <p class="twelve-pix-vertical-padding">
            <button type="button" class="btn btn-default"
                    ng-click="showNewHeadingModal()"
                    ng-disabled="!archivedHeadingButton"
                    data-keyboard="true" id="triggerFocus">
                <span class="fa fa-plus-circle plus-icon"></span>
                Ny overskrift
            </button>
            <button type="button" ng-class="archivedHeadingButtonClass" ng-click="changeHeadingClass();" style="width: 100px">
                <span ng-show="archivedHeadingButton"> Vis arkiverte </span>
                <span ng-show="!archivedHeadingButton"><span class="fa fa-chevron-left"></span> Vis aktive </span>
            </button>
        </p>
    </div>

    <div class="table-responsive administer-views shadow-below">

        <!-- Table listing all headings in the system -->
        <table class="table table-striped" id="AdministerHeadingsTable">

            <!-- Table headers -->
            <thead ng-class="headingHeadingClass">
            <tr>
                <th class="col-md-2">Tittel</th>
                <th class="col-md-8">Beskrivelse</th>
                <th class="col-md-1"><span ng-show="archivedHeadingButton">Rediger</span></th>
                <th class="col-md-1"><span ng-show="archivedHeadingButton">Arkiver</span>
                    <span ng-show="!archivedHeadingButton">Gjenopprett</span></th>
            </tr>
            </thead>

            <!-- Active Heading Table body -->
            <tbody ng-show="archivedHeadingButton">
            <tr ng-repeat="heading in headings" ng-hide="heading.isArchived">

                <!-- Heading info -->
                <td>{{heading.name}}</td>
                <td>{{heading.description}}</td>

                <!-- Edit heading -->
                <td><span class="fa fa-pencil-square-o fa-2x vcenter clickable" ng-click="showEditHeadingModal(heading.id)"></span></td>

                <!-- Archive heading -->
                <td><span class="fa fa-archive fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil arkivere?', heading, deleteHeading)"></span></td>
            </tr>
            </tbody>

            <!-- Archived Heading Table body -->
            <tbody ng-show="!archivedHeadingButton">
            <tr ng-repeat="heading in headings" ng-hide="!heading.isArchived">

                <!-- Heading info -->
                <td>{{heading.name}}</td>
                <td>{{heading.description}}</td>

                <!-- Edit heading -->
                <td></td>

                <!-- Recover heading -->
                <td><span class="fa fa-undo fa-2x vcenter clickable " ng-click="openConfirmationModal('Er du sikker på at du vil gjenopprette?', heading, recoverArchivedHeading)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
