<div id="editor-nav" ng-controller="ToolbarController">

    <nav class="ehelse-navbar navbar-default container-fluid">

        <!-- Search -->
        <span class="nav navbar-form navbar-left ">
             <div class="input-group" style="width: 180pt;">
                 <input type="text" id="search-filter" class="form-control" placeholder="Søk etter dokument..." ng-model="$root.searchQuery" ng-click="searchFocused()" aria-label=". . .">
                 <div class="input-group-btn">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                     <ul class="dropdown-menu dropdown-menu-center">
                         <li><span class="search-options"><input name="search-option-name" value="1" ng-model="$root.searchOption" type="radio" aria-label="..."></span>Standarder</li>
                         <li><span class="search-options"><input name="search-option-name" value="2" ng-model="$root.searchOption" type="radio" aria-label="..."></span>Profiler</li>
                         <li><span class="search-options"><input name="search-option-name" value="3" ng-model="$root.searchOption" type="radio" aria-label="..."></span>Støttedokumenter</li>
                         <li role="separator" class="divider"></li>
                         <li><span class="search-options"><input name="search-option-name" value="" ng-model="$root.searchOption" type="radio" aria-label="..."></span>Alle</li>
                     </ul>
                 </div>
             </div>
        </span>

        <!-- Navigation bar with dropdown for selecting administer views -->
        <ul class="nav navbar-nav">
            <li class="nav-element-margin" ng-if="$state.includes('main-view.editor-view')">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrer <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="openAdministerFields()">Felter</a></li>
                        <li><a href="" ng-click="openAdministerActions()">Handlinger</a></li>
                        <li><a href="" ng-click="openAdministerContactAddresses()">Kontaktadresser</a></li>
                        <li><a href="" ng-click="openAdministerLinkCategories()">Lenke-kategorier</a></li>
                        <li><a href="" ng-click="openTargetGroups()">Målgrupper</a></li>
                        <li><a href="" ng-click="openAdministerMandatory()">Obligatoriskheter</a></li>
                        <li><a href="" ng-click="openAdministerHeadings()">Overskrifter</a></li>
                        <li><a href="" ng-click="openAdministerStatus()">Statuser</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="" ng-click="uploadCsvButton()">Importer fra .csv</a>
                        </li>
                        <li>
                            <a href="" ng-click="uploadJsonButton()">Last opp fra fil</a>
                        </li>
                        <li>
                            <a href="" ng-click="downloadAllDocumentsAsJSON()">Lagre JSON-eksport for alle dokumenter</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button" class="btn btn-primary navbar-btn" ng-click="save()">Lagre</button>
            </li>
            <li>
                <span class="navbar-text">{{chosenFilePath}}</span>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <input class="navbar-text pull-right" min="10" max="20" ng-model="text.size" type="range">
            </li>
        </ul>

    </nav>
</div>