<div id="editorNav" ng-controller="ToolbarController">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Right part of toolbar -->
            <div class="navbar-form navbar-left"
                 ng-include="userPageView == '' ? 'app/components/toolbar/toolbarButtons/searchbarView.html' : 'app/components/toolbar/toolbarButtons/returnToEditorButton.html'">
            </div>

            <ul class="nav navbar-nav">
                <li class="navElementMargin" ng-if="userPageView == ''"
                    ng-include="'app/components/toolbar/toolbarButtons/administerFieldsButton.html'"></li>

                <li class="navElementMargin" ng-if="userPageView == ''"
                    ng-include="'app/components/toolbar/toolbarButtons/administerTargetGroupsButton.html'"></li>
            </ul>

            <!-- Left part of toolbar -->
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{currentUser.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="clickable" ng-click="changeUserView('myPage')">Min side</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="clickable" ng-click="logout()">Logg av</a></li>
                    </ul>
                </li>

                <li class="navElementMargin">
                    <button ng-click="changeUserView('administerUsers')" type="button"
                            class="btn btn-primary navbar-btn" data-toggle="tooltip" title="Administrer brukere" data-placement="top"><span
                            class="fa fa-users"></span></button>
                </li>
            </ul>
        </div>
    </nav>
</div>