<div id="editor-nav" ng-controller="ToolbarController">

    <nav>
        <div class="container-fluid">
            <div class="navbar-header">
                <object class="navbar-brand" data="assets/img/ehelseLogo.svg" type="image/svg+xml">
                    <img src="assets/img/ehelseLogo.png" alt="ehelse logo"/>
                </object>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <div class="input-group navbar-btn search-bar">
                        <input type="text" id="search-filter" class="form-control" placeholder="Søk etter dokument..."
                               ng-model="$root.searchQuery" ng-click="searchFocused()" aria-label=". . .">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down"
                                                                                  aria-hidden="true"></i></button>
                            <ul class="dropdown-menu dropdown-menu-center">
                                <li><span class="search-options"><input name="search-option-name" value="1"
                                                                        ng-model="$root.searchOption" type="radio"
                                                                        aria-label="..."></span>Standarder
                                </li>
                                <li><span class="search-options"><input name="search-option-name" value="2"
                                                                        ng-model="$root.searchOption" type="radio"
                                                                        aria-label="..."></span>Profiler
                                </li>
                                <li><span class="search-options"><input name="search-option-name" value="3"
                                                                        ng-model="$root.searchOption" type="radio"
                                                                        aria-label="..."></span>Støttedokumenter
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><span class="search-options"><input name="search-option-name" value=""
                                                                        ng-model="$root.searchOption" type="radio"
                                                                        aria-label="..."></span>Alle
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="dropdown-toggle toolbar-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrer <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="openAdministerFields()">Felter</a></li>
                        <li><a href="" ng-click="openAdministerActions()">Handlinger</a></li>
                        <li><a href="" ng-click="openAdministerContactAddresses()">Kontaktadresser</a></li>
                        <li><a href="" ng-click="openAdministerLinkCategories()">Lenke-kategorier</a></li>
                        <li><a href="" ng-click="openTargetGroups()">Målgrupper</a></li>
                        <li><a href="" ng-click="openAdministerMandatory()">Obligatoriskheter</a></li>
                        <li><a href="" ng-click="openAdministerHeadings()">Overskrifter</a></li>
                        <li><a href="" ng-click="openAdministerStatus()">Statuser</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="" ng-click="uploadCsvButton()">Last opp fra .csv</a>
                        </li>
                        <li>
                            <a href="" ng-click="uploadJsonButton()">Last opp fra .json</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="" ng-click="downloadAllDocumentsAsJSON()">Lagre JSON-eksport for alle
                                dokumenter</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  class="toolbar-button" ng-click="save()"><span class="fa fa-floppy-o"></span> Lagre fil</a>
                </li>
                <li>
                    <a ng-if="currentFilePath">{{currentFilePath}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <input class="" min="10" max="20" ng-model="text.size" type="range">
                </li>
                <li>
                    <a class="black-color">{{text.size}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>