<div id="editor-nav" ng-controller="ToolbarController">

    <nav class="navbar navbar-default container-fluid">
        <!-- Left part of toolbar -->
        <div class="navbar-form navbar-left" ng-if="userPageView == ''">
            <form role="search">
                <div class="form-group">
                    <input id="searchbar" type="text" class="form-control" placeholder="Søk...">
                </div>
                <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
            </form>
        </div>
        <div class="navbar-form navbar-left" ng-if="userPageView !== ''">
            <button type="button" ng-click="changeUserView('')"
                    class="btn btn-primary">Tilbake til editor
            </button>
        </div>

        <ul class="nav navbar-nav">
            <li class="navElementMargin" ng-if="userPageView == ''">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrer <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="openAdministerFields()">Felter</a></li>
                        <li><a href="" ng-click="openTargetGroups()">Målgrupper</a></li>
                        <li><a href="" ng-click="openAdministerActions()">Handlinger</a></li>
                    </ul>
                </div>
                <!--
                <button ng-click="openAdministerFields()" type="button" class="btn btn-primary navbar-btn">Administrer
                    felter
                </button>
                <button ng-click="openTargetGroups()" type="button" class="btn btn-primary navbar-btn">Administrer
                    målgrupper
                </button>
                -->
            </li>
        </ul>

        <!-- Right part of toolbar -->
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{currentUser.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="clickable" ng-click="changeUserView('myPage')">Min side</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="clickable" ng-click="logout()">Logg av</a></li>
                </ul>
            </li>
            <li class="navElementMargin">
                <button ng-click="changeUserView('administerUsers')" type="button"
                        class="btn btn-primary navbar-btn" data-toggle="tooltip" title="Administrer brukere"
                        data-placement="top"><span
                        class="fa fa-users"></span></button>
            </li>
        </ul>
    </nav>
</div>