<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Title -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Felter</h4>
                <span> Velg en eller flere felter</span>
            </div>

            <!-- Modal body -->
            <div class="modal-body edit-document-modal">
                <form role="form">

                    <!-- List all document fields for selected document type, with a checkbox -->
                    <div ng-if="document_fields_ids.indexOf(field.id) == -1" ng-hide="field.isArchived" class="form-group" ng-repeat="field in fields">
                        <input id={{field.id}} type="checkbox"  data-checklist-model="selected_document_fields_ids" data-checklist-value="field.id">
                        <label for={{field.id}}>{{field.name}}</label>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <!-- Save changes -->
                <button type="button" ng-click="close('add')" class="btn btn-primary" data-dismiss="modal">Lagre</button>

                <!-- Cancel changes -->
                <button type="button" ng-click="close('cancel')" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>