<div class="panel panel-border{{document.documentTypeId}}">

    <!-- Title -->
    <div class="panel-heading panel{{document.documentTypeId}}">
        <h3 class="panel-title selected-heading"><span class="fa fa-check-circle-o"></span> Felter</h3>
    </div>


    <div class="panel-body">
        <div class="form-group" >
            <table id="new-doc-fields" class="table shadow-below">

                <!-- List the document's fields -->
                <tr ng-repeat="field in document.fields">

                    <!-- Field name -->
                    <td class="col-md-4">
                        <label ng-style="{'font-size': text.size + 'px'}" for="documentField{{field.fieldId}}">{{fields_dict[field.fieldId].name}}
                        <span ng-if="fields_dict[field.fieldId].mandatory == 1" class="required-icon" data-toggle="tooltip"
                              data-placement="top" data-original-title="Obligatorisk felt">*</span></label>
                    </td>

                    <!-- Field input -->
                    <td class="col-md-7">
                        <textarea ng-style="{'font-size': text.size + 'px'}" id="documentField{{field.fieldId}}" class="form-control content-box" name="f{{field.id}}"
                                  ng-model="field.value" rows="{{getTextRows(field.value)}}" autogrow required></textarea>
                    </td>

                    <!-- Delete field -->
                    <td class="col-md-1 center-align-delete-button">
                        <span ng-if="fields_dict[field.fieldId].mandatory == 0" class="fa fa-remove delete-document-field-icon clickable"
                          ng-click="openConfirmationModal('Er du sikker på at du vil slette feltet fra dokumentet?', field, removeField); EditDocumentController.DocumentForm.$setDirty()"></span>
                    </td>
                </tr>
            </table>

            <!-- Open modal for adding fields to the document -->
            <button type="button" class="btn btn-default" ng-click="openModal('app/components/content/editDocument/fields/addDocumentFieldsModal.html', 'AddDocumentFieldsController')">
                <span class="fa fa-plus-circle plus-icon"></span> Legg til felter</button>
        </div>
    </div>
</div>
